<div class="plan-description">
  <div>
    <div
      class="editing-state"
      *ngIf="editingState">
      <quill-editor
        [ngModel]="plan.description"
        (keyup.enter)="edit()"
        (onContentChanged)="contentChanged($event)"
        theme="snow">
      </quill-editor>
      <button
        *ngIf="!isReadOnlyMode && editingState"
        class="done-btn"
        (click)="edit()">
        <svg-icon name="done"></svg-icon>
      </button>
    </div>
    <span *ngIf="!editingState">

      <span
        *ngIf="!plan.description && !isReadOnlyMode">
        Додайте опис
      </span>
      <ng-container
        *ngIf="plan.description">

        <quill-view-html
          class="quill-view"
          [content]="plan.description"
          theme="snow"></quill-view-html>

      </ng-container>

    </span>

    <button
      *ngIf="!isReadOnlyMode && !editingState"
      class="edit-btn"
      (click)="changeEditingState()">
      <svg-icon name="pencil"></svg-icon>
    </button>

  </div>
</div>
