<div class="plan-description">
  <div>
    <div
      class="editing-state"
      *ngIf="editingState">
      <textarea
        #newPlanDesc
        [ngModel]="plan.description"
        (keyup.enter)="edit(newPlanDesc.value)"
        (keyup)="textAreaAdjust(newPlanDesc)"
        (focus)="textAreaAdjust(newPlanDesc)"
        class="form-control description-edit-area"
        id="exampleFormControlTextarea1"
        rows="3">

      </textarea>
      <button
        *ngIf="!isReadOnlyMode && editingState"
        class="done-btn"
        (click)="edit(newPlanDesc.value)">
        <svg-icon name="done"></svg-icon>
      </button>
    </div>
    <span *ngIf="!editingState">

      <span
        *ngIf="!plan.description && !isReadOnlyMode">
        Додайте опис
      </span>
      <ng-container
        *ngIf="plan.description">

        <span
          class="description-content"
          *ngIf="showFull"
          [innerHTML]="sanitizedDesc">
        </span>

        <span
          (click)="changeState(true)"
          *ngIf="!showFull"
          class="show-more">
          Читати опис
        </span>
        <span
          (click)="changeState()"
          *ngIf="showFull"
          class="show-less">
          Схвати опис
        </span>

      </ng-container>

    </span>

    <button
      *ngIf="!isReadOnlyMode && !editingState"
      class="edit-btn"
      (click)="changeEditingState()">
      <svg-icon name="pencil"></svg-icon>
    </button>

  </div>
</div>
