<div>

  <div class="scores">
    <span class="h6">Присяд:
      <span class="badge">{{squats}}кг</span>
    </span>
      <span class="h6">Жим:
      <span class="badge">{{press}}кг</span>
    </span>
      <span class="h6">Тяга:
      <span class="badge">{{deadlift}}кг</span>
    </span>
  </div>



  <div class="form-group weight-controls">
    <form #form="ngForm" (submit)="update(form.value)">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">Присяд: </span>
        </div>
        <input type="text"
               name="squats"
               [(ngModel)]="squats"
               class="form-control"
               aria-describedby="basic-addon1">
      </div>

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon2">Жим: </span>
        </div>
        <input type="text"
               name="press"
               [(ngModel)]="press"
               class="form-control"
               aria-describedby="basic-addon2">
      </div>

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon3">Станова тяга: </span>
        </div>
        <input type="text"
               name="deadlift"
               [(ngModel)]="deadlift"
               class="form-control"
               aria-describedby="basic-addon3">
      </div>

      <button class="btn btn-outline-primary btn-block" *ngIf="user$ | async">Зберегти</button>
    </form>
  </div>

  <table class="table table-bordered" border="0" cellspacing="0" cellpadding="0" width="100%">
    <thead>
    <tr class="font-weight-bold">
      <th>#</th>
      <th>Вправи</th>
      <th>Підходи</th>
      <th>Ваги</th>
      <th>Повт.</th>
    </tr>
    </thead>

    <tbody>

    <tr>
      <th colspan="5">Тренування 1</th>
    </tr>

    <tr>
      <td>1</td>
      <td>
        <p>Жим лежачи</p>
      </td>
      <td>
        <div>1</div>
        <div>2</div>
        <div>2</div>
        <div>4</div>
        <div>1 [ен, мез]</div>
      </td>
      <td>
        <div>{{calculatePress(0.5)}}</div>
        <div>{{calculatePress(0.6)}}</div>
        <div>{{calculatePress(0.7)}}</div>
        <div>{{calculatePress(0.75)}}</div>
        <div>{{calculatePress(0.75)}}</div>
      </td>
      <td>
        <div>5</div>
        <div>4</div>
        <div>3</div>
        <div>3</div>
        <div>3</div>
      </td>
    </tr>

    <tr>
      <td>2</td>
      <td>
        <p>Присідання</p>
      </td>
      <td>
        <div>1</div>
        <div>2</div>
        <div>5</div>
      </td>
      <td>
        <div>{{calculateSquats(0.5)}}</div>
        <div>{{calculateSquats(0.6)}}</div>
        <div>{{calculateSquats(0.7)}}</div>
      </td>
      <td>
        <div>5</div>
        <div>5</div>
        <div>5</div>
      </td>
    </tr>
    <tr>
      <td>3</td>
      <td>
        <p>Жим лежачи</p>
      </td>
      <td>
        <div>1</div>
        <div>2</div>
        <div>4</div>
      </td>
      <td>
        <div>{{calculatePress(0.5)}}</div>
        <div>{{calculatePress(0.6)}}</div>
        <div>{{calculatePress(0.65)}}</div>
      </td>
      <td>
        <div>6</div>
        <div>6</div>
        <div>6</div>
      </td>
    </tr>
    <tr>
      <td>4</td>
      <td>
        <p>Розведення рук з гантелями лежачи</p>
      </td>
      <td>3 [ен, мез]</td>
      <td>макс.</td>
      <td>5</td>
    </tr>
    <tr>
      <th colspan="5">Тренування 2</th>
    </tr>
    <tr>
      <td>1</td>
      <td>
        <p>Станова тяга</p>
      </td>
      <td>
        <div>1</div>
        <div>2</div>
        <div>2</div>
        <div>4</div>
      </td>
      <td>
        <div>{{calculateDeadlift(0.5)}}</div>
        <div>{{calculateDeadlift(0.6)}}</div>
        <div>{{calculateDeadlift(0.7)}}</div>
        <div>{{calculateDeadlift(0.75)}}</div>
      </td>
      <td>
        <div>5</div>
        <div>5</div>
        <div>4</div>
        <div>3</div>
      </td>
    </tr>
    <tr>
      <td>2</td>
      <td>
        <p>Жим лежачи під кутом</p>
      </td>
      <td>4, 6 [ен, мез]</td>
      <td></td>
      <td>4</td>
    </tr>
    <tr>
      <td>3</td>
      <td>
        <p>Підтягування на брусах з вагою</p>
      </td>
      <td>4, 5 [ен, мез]</td>
      <td></td>
      <td>5</td>
    </tr>
    <tr>
      <td>4</td>
      <td>
        <p>Тяга з плінтів</p>
      </td>
      <td>
        <div>1</div>
        <div>2</div>
        <div>2</div>
        <div>3</div>
        <div>1 [ен, мез]</div>
      </td>
      <td>
        <div>{{calculateDeadlift(0.5)}}</div>
        <div>{{calculateDeadlift(0.6)}}</div>
        <div>{{calculateDeadlift(0.7)}}</div>
        <div>{{calculateDeadlift(0.8)}}</div>
        <div>{{calculateDeadlift(0.8)}}</div>
      </td>
      <td>
        <div>5</div>
        <div>5</div>
        <div>4</div>
        <div>3</div>
        <div>3</div>
      </td>
    </tr>
    <tr>
      <td>5</td>
      <td>
        <p>Скручування на прес висячи</p>
      </td>
      <td>3</td>
      <td></td>
      <td>макс.</td>
    </tr>
    <tr>
      <th colspan="5">Тренування 3</th>
    </tr>
    <tr>
      <td>1</td>
      <td>
        <p>Жим лежачи</p>
      </td>
      <td>
        <div>1</div>
        <div>1</div>
        <div>1</div>
        <div>1</div>
        <div>2</div>
        <div>2</div>
        <div>2[ен, мез]</div>
        <div>1</div>
        <div>1</div>
        <div>1[ен, мез]</div>
        <div>1[ен, мез]</div>
      </td>
      <td>
        <div>{{calculatePress(0.5)}}</div>
        <div>{{calculatePress(0.55)}}</div>
        <div>{{calculatePress(0.6)}}</div>
        <div>{{calculatePress(0.65)}}</div>
        <div>{{calculatePress(0.7)}}</div>
        <div>{{calculatePress(0.75)}}</div>
        <div>{{calculatePress(0.7)}}</div>
        <div>{{calculatePress(0.65)}}</div>
        <div>{{calculatePress(0.6)}}</div>
        <div>{{calculatePress(0.55)}}</div>
        <div>{{calculatePress(0.5)}}</div>
      </td>
      <td>
        <div>7</div>
        <div>6</div>
        <div>5</div>
        <div>4</div>
        <div>3</div>
        <div>2</div>
        <div>3</div>
        <div>4</div>
        <div>6</div>
        <div>8</div>
        <div>10</div>
      </td>
    </tr>
    <tr>
      <td>2</td>
      <td>
        <p>Розведення рук з гантелями лежачи</p>
      </td>
      <td>3 [ен, мез]</td>
      <td></td>
      <td>10</td>
    </tr>
    <tr>
      <td>3</td>
      <td>
        <p>Присідання</p>
      </td>
      <td>
        <div>1</div>
        <div>2</div>
        <div>2</div>
        <div>3</div>
        <div>2 [ен, мез]</div>
      </td>
      <td>
        <div>{{calculateSquats(0.5)}}</div>
        <div>{{calculateSquats(0.6)}}</div>
        <div>{{calculateSquats(0.7)}}</div>
        <div>{{calculateSquats(0.75)}}</div>
        <div>{{calculateSquats(0.75)}}</div>
      </td>
      <td>
        <div>5</div>
        <div>4</div>
        <div>3</div>
        <div>3</div>
        <div>3</div>
      </td>
    </tr>
    <tr>
      <td>4</td>
      <td>
        <p>Тріцепс на блоці</p>
      </td>
      <td>
        <div>2</div>
        <div>2 [ен, мез]</div>
      </td>
      <td></td>
      <td>
        <div>10</div>
        <div>10</div>
      </td>
    </tr>
    <tr>
      <th colspan="5">Тренування 4</th>
    </tr>
    <tr>
      <td>1</td>
      <td>
        <p>Присідання</p>
      </td>
      <td>
        <div>1</div>
        <div>2</div>
        <div>2</div>
        <div>4</div>
        <div>1 [ен, мез]</div>
      </td>
      <td>
        <div>{{calculateSquats(0.5)}}</div>
        <div>{{calculateSquats(0.6)}}</div>
        <div>{{calculateSquats(0.7)}}</div>
        <div>{{calculateSquats(0.8)}}</div>
        <div>{{calculateSquats(0.8)}}</div>
      </td>
      <td>
        <div>5</div>
        <div>4</div>
        <div>3</div>
        <div>2</div>
        <div>2</div>
      </td>
    </tr>
    <tr>
      <td>2</td>
      <td>
        <p>Жим лежачи</p>
      </td>
      <td>
        <div>1</div>
        <div>1</div>
        <div>2</div>
        <div>5</div>
        <div>1 [ен, мез]</div>
      </td>
      <td>
        <div>{{calculatePress(0.5)}}</div>
        <div>{{calculatePress(0.6)}}</div>
        <div>{{calculatePress(0.7)}}</div>
        <div>{{calculatePress(0.8)}}</div>
        <div>{{calculatePress(0.8)}}</div>
      </td>
      <td>
        <div>5</div>
        <div>4</div>
        <div>3</div>
        <div>2</div>
        <div>2</div>
      </td>
    </tr>
    <tr>
      <td>3</td>
      <td>
        <p>Відтискання від підлоги</p>
      </td>
      <td>5</td>
      <td></td>
      <td>макс</td>
    </tr>
    <tr>
      <td>4</td>
      <td>
        <p>Присідання</p>
      </td>
      <td>
        <div>1</div>
        <div>1</div>
        <div>4</div>
      </td>
      <td>
        <div>{{calculateSquats(0.55)}}</div>
        <div>{{calculateSquats(0.65)}}</div>
        <div>{{calculateSquats(0.75)}}</div>
      </td>
      <td>
        <div>3</div>
        <div>3</div>
        <div>3</div>
      </td>
    </tr>
    <tr>
      <th colspan="5">Тренування 5</th>
    </tr>
    <tr>
      <td>1</td>
      <td>
        <p>Тяга до колін</p>
      </td>
      <td>
        <div>1</div>
        <div>2</div>
        <div>4</div>
      </td>
      <td>
        <div>{{calculateDeadlift(0.50)}}</div>
        <div>{{calculateDeadlift(0.6)}}</div>
        <div>{{calculateDeadlift(0.70)}}</div>
      </td>
      <td>
        <div>4</div>
        <div>4</div>
        <div>4</div>
      </td>
    </tr>
    <tr>
      <td>2</td>
      <td>
        <p>Жим лежачи</p>
      </td>
      <td>
        <div>1</div>
        <div>2</div>
        <div>5</div>
      </td>
      <td>
        <div>{{calculatePress(0.50)}}</div>
        <div>{{calculatePress(0.60)}}</div>
        <div>{{calculatePress(0.70)}}</div>
      </td>
      <td>
        <div>5</div>
        <div>5</div>
        <div>4</div>
      </td>
    </tr>
    <tr>
      <td>3</td>
      <td>
        <p>Тренажер бабочка</p>
      </td>
      <td>3 [ен, мез]</td>
      <td></td>
      <td>10</td>
    </tr>
    <tr>
      <td>4</td>
      <td>
        <p>Станова тяга</p>
      </td>
      <td>
        <div>1</div>
        <div>1</div>
        <div>2</div>
        <div>4</div>
        <div>1 [ен, мез]</div>
      </td>
      <td>
        <div>{{calculateDeadlift(0.50)}}</div>
        <div>{{calculateDeadlift(0.60)}}</div>
        <div>{{calculateDeadlift(0.70)}}</div>
        <div>{{calculateDeadlift(0.75)}}</div>
        <div>{{calculateDeadlift(0.75)}}</div>
      </td>
      <td>
        <div>4</div>
        <div>4</div>
        <div>3</div>
        <div>3</div>
        <div>3</div>
      </td>
    </tr>
    <tr>
      <th colspan="5">Тренування 6</th>
    </tr>
    <tr>
      <td>1</td>
      <td>
        <p>Присідання</p>
      </td>
      <td>
        <div>1</div>
        <div>1</div>
        <div>2</div>
        <div>6</div>
      </td>
      <td>
        <div>{{calculateSquats(0.50)}}</div>
        <div>{{calculateSquats(0.60)}}</div>
        <div>{{calculateSquats(0.70)}}</div>
        <div>{{calculateSquats(0.75)}}</div>
      </td>
      <td>
        <div>4</div>
        <div>4</div>
        <div>3</div>
        <div>3</div>
      </td>
    </tr>
    <tr>
      <td>2</td>
      <td>
        <p>Жим лежачи</p>
      </td>
      <td>
        <div>1</div>
        <div>1</div>
        <div>2</div>
        <div>2</div>
        <div>2</div>
        <div>1</div>
        <div>1 [ен, мез]</div>
        <div>1</div>
        <div>1 [ен, мез]</div>
      </td>
      <td>
        <div>{{calculatePress(0.50)}}</div>
        <div>{{calculatePress(0.60)}}</div>
        <div>{{calculatePress(0.70)}}</div>
        <div>{{calculatePress(0.75)}}</div>
        <div>{{calculatePress(0.80)}}</div>
        <div>{{calculatePress(0.75)}}</div>
        <div>{{calculatePress(0.70)}}</div>
        <div>{{calculatePress(0.60)}}</div>
        <div>{{calculatePress(0.50)}}</div>
      </td>
      <td>
        <div>6</div>
        <div>5</div>
        <div>4</div>
        <div>3</div>
        <div>2</div>
        <div>4</div>
        <div>5</div>
        <div>6</div>
        <div>7</div>
      </td>
    </tr>
    <tr>
      <td>3</td>
      <td>
        <p>Разведення рук з гантелями під кутом</p>
      </td>
      <td>
        <div>3</div>
        <div>2 [ен, мез]</div>
      </td>
      <td></td>
      <td>
        <div>10</div>
        <div>10</div>
      </td>
    </tr>
    <tr>
      <td>4</td>
      <td>
        <p>Тріцепс на блоці</p>
      </td>
      <td>
        <div>3</div>
        <div>2 [ен, мез]</div>
      </td>
      <td></td>
      <td>
        <div>10</div>
        <div>10</div>
      </td>
    </tr>
    <tr>
      <td>5</td>
      <td>
        <p>Присідання</p>
      </td>
      <td>
        <div>1</div>
        <div>1</div>
        <div>4</div>
      </td>
      <td>
        <div>{{calculateSquats(0.55)}}</div>
        <div>{{calculateSquats(0.65)}}</div>
        <div>{{calculateSquats(0.75)}}</div>
      </td>
      <td>
        <div>3</div>
        <div>3</div>
        <div>2</div>
      </td>
    </tr>
    <tr>
      <th colspan="5">Тренування 7</th>
    </tr>
    <tr>
      <td>1</td>
      <td>
        <p>Присідання</p>
      </td>
      <td>
        <div>1</div>
        <div>2</div>
        <div>2</div>
        <div>4</div>
        <div>1 [ен, мез]</div>
      </td>
      <td>
        <div>{{calculateSquats(0.50)}}</div>
        <div>{{calculateSquats(0.60)}}</div>
        <div>{{calculateSquats(0.70)}}</div>
        <div>{{calculateSquats(0.80)}}</div>
        <div>{{calculateSquats(0.80)}}</div>
      </td>
      <td>
        <div>5</div>
        <div>4</div>
        <div>3</div>
        <div>3</div>
        <div>3</div>
      </td>
    </tr>
    <tr>
      <td>2</td>
      <td>
        <p>Жим лежачи</p>
      </td>
      <td>
        <div>1</div>
        <div>1</div>
        <div>2</div>
        <div>5</div>
      </td>
      <td>
        <div>{{calculatePress(0.50)}}</div>
        <div>{{calculatePress(0.60)}}</div>
        <div>{{calculatePress(0.70)}}</div>
        <div>{{calculatePress(0.80)}}</div>
      </td>
      <td>
        <div>5</div>
        <div>4</div>
        <div>3</div>
        <div>3</div>
      </td>
    </tr>
    <tr>
      <td>3</td>
      <td>
        <p>Відтискання від підлоги</p>
      </td>
      <td>5</td>
      <td></td>
      <td>макс.</td>
    </tr>
    <tr>
      <td>4</td>
      <td>
        <p>Присідання</p>
      </td>
      <td>
        <div>1</div>
        <div>1</div>
        <div>4</div>
        <div>1 [ен, мез]</div>
      </td>
      <td>
        <div>{{calculateSquats(0.50)}}</div>
        <div>{{calculateSquats(0.60)}}</div>
        <div>{{calculateSquats(0.70)}}</div>
        <div>{{calculateSquats(0.70)}}</div>
      </td>
      <td>
        <div>5</div>
        <div>5</div>
        <div>5</div>
        <div>5</div>
      </td>
    </tr>
    <tr>
      <th colspan="5">Тренування 8</th>
    </tr>
    <tr>
      <td>1</td>
      <td>
        <p>Тяга штанги до колін</p>
      </td>
      <td>
        <div>1</div>
        <div>1</div>
        <div>2</div>
        <div>4</div>
      </td>
      <td>
        <div>{{calculateDeadlift(0.50)}}</div>
        <div>{{calculateDeadlift(0.60)}}</div>
        <div>{{calculateDeadlift(0.70)}}</div>
        <div>{{calculateDeadlift(0.75)}}</div>
      </td>
      <td>
        <div>4</div>
        <div>4</div>
        <div>4</div>
        <div>4</div>
      </td>
    </tr>
    <tr>
      <td>2</td>
      <td>
        <p>Жим лежачи</p>
      </td>
      <td>
        <div>1</div>
        <div>1</div>
        <div>2</div>
        <div>2</div>
        <div>2</div>
        <div>2</div>
        <div>1</div>
        <div>1 [ен, мез]</div>
        <div>1</div>
        <div>1 [ен, мез]</div>
        <div>1</div>
      </td>
      <td>
        <div>{{calculatePress(0.50)}}</div>
        <div>{{calculatePress(0.60)}}</div>
        <div>{{calculatePress(0.70)}}</div>
        <div>{{calculatePress(0.75)}}</div>
        <div>{{calculatePress(0.80)}}</div>
        <div>{{calculatePress(0.75)}}</div>
        <div>{{calculatePress(0.70)}}</div>
        <div>{{calculatePress(0.65)}}</div>
        <div>{{calculatePress(0.60)}}</div>
        <div>{{calculatePress(0.55)}}</div>
        <div>{{calculatePress(0.50)}}</div>
      </td>
      <td>
        <div>6</div>
        <div>5</div>
        <div>4</div>
        <div>3</div>
        <div>2</div>
        <div>3</div>
        <div>4</div>
        <div>5</div>
        <div>6</div>
        <div>7</div>
        <div>8</div>
      </td>
    </tr>
    <tr>
      <td>3</td>
      <td>
        <p>Жим гантелей лежачи</p>
      </td>
      <td>
        <div>3</div>
        <div>2 [ен, мез]</div>
      </td>
      <td></td>
      <td>
        <div>10</div>
        <div>10</div>
      </td>
    </tr>
    <tr>
      <td>4</td>
      <td>
        <p>Тяга штанги з плінтів</p>
      </td>
      <td>
        <div>1</div>
        <div>2</div>
        <div>3</div>
        <div>1 [ен, мез]</div>
      </td>
      <td>
        <div>{{calculateDeadlift(0.60)}}</div>
        <div>{{calculateDeadlift(0.70)}}</div>
        <div>{{calculateDeadlift(0.80)}}</div>
        <div>{{calculateDeadlift(0.80)}}</div>
      </td>
      <td>
        <div>5</div>
        <div>5</div>
        <div>4</div>
        <div>4</div>
      </td>
    </tr>
    <tr>
      <td>5</td>
      <td>
        <p>Скручування на прес висячи</p>
      </td>
      <td>3</td>
      <td></td>
      <td>макс.</td>
    </tr>
    <tr>
      <th colspan="5">Тренування 9</th>
    </tr>
    <tr>
      <td>1</td>
      <td>
        <p>Жим лежачи</p>
      </td>
      <td>
        <div>1</div>
        <div>1</div>
        <div>2</div>
        <div>4</div>
        <div>1 [ен, мез]</div>
      </td>
      <td>
        <div>{{calculatePress(0.50)}}</div>
        <div>{{calculatePress(0.60)}}</div>
        <div>{{calculatePress(0.70)}}</div>
        <div>{{calculatePress(0.80)}}</div>
        <div>{{calculatePress(0.80)}}</div>
      </td>
      <td>
        <div>5</div>
        <div>4</div>
        <div>3</div>
        <div>2</div>
        <div>2</div>
      </td>
    </tr>
    <tr>
      <td>2</td>
      <td>
        <p>Присідання</p>
      </td>
      <td>
        <div>1</div>
        <div>1</div>
        <div>2</div>
        <div>5</div>
      </td>
      <td>
        <div>{{calculateSquats(0.50)}}</div>
        <div>{{calculateSquats(0.60)}}</div>
        <div>{{calculateSquats(0.70)}}</div>
        <div>{{calculateSquats(0.75)}}</div>
      </td>
      <td>
        <div>5</div>
        <div>5</div>
        <div>5</div>
        <div>4</div>
      </td>
    </tr>
    <tr>
      <td>3</td>
      <td>
        <p>Жим лежачи</p>
      </td>
      <td>
        <div>1</div>
        <div>2</div>
        <div>4</div>
      </td>
      <td>
        <div>{{calculatePress(0.50)}}</div>
        <div>{{calculatePress(0.60)}}</div>
        <div>{{calculatePress(0.65)}}</div>
      </td>
      <td>
        <div>6</div>
        <div>6</div>
        <div>6</div>
      </td>
    </tr>
    <tr>
      <th colspan="5">Тренування 10</th>
    </tr>
    <tr>
      <td>1</td>
      <td>
        <p>Присідання</p>
      </td>
      <td>
        <div>1</div>
        <div>1</div>
        <div>2</div>
        <div>2</div>
        <div>2</div>
        <div>1 [ен, мез]</div>
      </td>
      <td>
        <div>{{calculateSquats(0.50)}}</div>
        <div>{{calculateSquats(0.60)}}</div>
        <div>{{calculateSquats(0.70)}}</div>
        <div>{{calculateSquats(0.80)}}</div>
        <div>{{calculateSquats(0.85)}}</div>
        <div>{{calculateSquats(0.85)}}</div>
      </td>
      <td>
        <div>5</div>
        <div>4</div>
        <div>3</div>
        <div>3</div>
        <div>2</div>
        <div>2</div>
      </td>
    </tr>
    <tr>
      <td>2</td>
      <td>
        <p>Жим лежачи</p>
      </td>
      <td>
        <div>1</div>
        <div>1</div>
        <div>2</div>
        <div>4</div>
        <div>1 [ен, мез]</div>
      </td>
      <td>
        <div>{{calculatePress(0.50)}}</div>
        <div>{{calculatePress(0.60)}}</div>
        <div>{{calculatePress(0.70)}}</div>
        <div>{{calculatePress(0.80)}}</div>
        <div>{{calculatePress(0.80)}}</div>
      </td>
      <td>
        <div>5</div>
        <div>4</div>
        <div>3</div>
        <div>3</div>
        <div>3</div>
      </td>
    </tr>
    <tr>
      <td>4</td>
      <td>
        <p>Підтягування на брусах</p>
      </td>
      <td>5</td>
      <td></td>
      <td>8</td>
    </tr>
    <tr>
      <td>5</td>
      <td>
        <p>Присідання</p>
      </td>
      <td>
        <div>1</div>
        <div>1</div>
        <div>2</div>
        <div>3</div>
        <div>1 [ен, мез]</div>
      </td>
      <td>
        <div>{{calculateSquats(0.50)}}</div>
        <div>{{calculateSquats(0.60)}}</div>
        <div>{{calculateSquats(0.70)}}</div>
        <div>{{calculateSquats(0.80)}}</div>
        <div>{{calculateSquats(0.80)}}</div>
      </td>
      <td>
        <div>5</div>
        <div>4</div>
        <div>3</div>
        <div>2</div>
        <div>2</div>
      </td>
    </tr>
    <tr>
      <th colspan="5">Тренування 11</th>
    </tr>
    <tr>
      <td>1</td>
      <td>
        <p>Жим лежачи</p>
      </td>
      <td>
        <div>1</div>
        <div>1</div>
        <div>2</div>
        <div>2</div>
        <div>2</div>
        <div>1 [ен, мез]</div>
      </td>
      <td>
        <div>{{calculatePress(0.50)}}</div>
        <div>{{calculatePress(0.60)}}</div>
        <div>{{calculatePress(0.70)}}</div>
        <div>{{calculatePress(0.80)}}</div>
        <div>{{calculatePress(0.85)}}</div>
        <div>{{calculatePress(0.85)}}</div>
      </td>
      <td>
        <div>5</div>
        <div>4</div>
        <div>3</div>
        <div>3</div>
        <div>2</div>
        <div>2</div>
      </td>
    </tr>
    <tr>
      <td>2</td>
      <td>
        <p>Станова тяга</p>
      </td>
      <td>
        <div>1</div>
        <div>1</div>
        <div>2</div>
        <div>2</div>
        <div>3</div>
      </td>
      <td>
        <div>{{calculateDeadlift(0.50)}}</div>
        <div>{{calculateDeadlift(0.60)}}</div>
        <div>{{calculateDeadlift(0.70)}}</div>
        <div>{{calculateDeadlift(0.80)}}</div>
        <div>{{calculateDeadlift(0.85)}}</div>
      </td>
      <td>
        <div>4</div>
        <div>4</div>
        <div>3</div>
        <div>3</div>
        <div>2</div>
      </td>
    </tr>
    <tr>
      <td>3</td>
      <td>
        <p>Жим лежачи</p>
      </td>
      <td>
        <div>1</div>
        <div>1</div>
        <div>4</div>
      </td>
      <td>
        <div>{{calculatePress(0.55)}}</div>
        <div>{{calculatePress(0.65)}}</div>
        <div>{{calculatePress(0.75)}}</div>
      </td>
      <td>
        <div>5</div>
        <div>5</div>
        <div>4</div>
      </td>
    </tr>
    <tr>
      <th colspan="5">Тренування 12</th>
    </tr>
    <tr>
      <td>1</td>
      <td>
        <p>Присідання</p>
      </td>
      <td>
        <div>1</div>
        <div>1</div>
        <div>2</div>
        <div>6</div>
      </td>
      <td>
        <div>{{calculateSquats(0.50)}}</div>
        <div>{{calculateSquats(0.60)}}</div>
        <div>{{calculateSquats(0.70)}}</div>
        <div>{{calculateSquats(0.80)}}</div>
      </td>
      <td>
        <div>5</div>
        <div>4</div>
        <div>3</div>
        <div>3</div>
      </td>
    </tr>
    <tr>
      <td>2</td>
      <td>
        <p>Жим лежачи</p>
      </td>
      <td>
        <div>1</div>
        <div>1</div>
        <div>5</div>
      </td>
      <td>
        <div>{{calculatePress(0.50)}}</div>
        <div>{{calculatePress(0.60)}}</div>
        <div>{{calculatePress(0.70)}}</div>
      </td>
      <td>
        <div>5</div>
        <div>5</div>
        <div>5</div>
      </td>
    </tr>
    <tr>
      <td>3</td>
      <td>
        <p>Підтягування на брусах</p>
      </td>
      <td>
        <div>4</div>
        <div>1 [ен, мез]</div>
      </td>
      <td></td>
      <td>
        <div>8</div>
        <div>8</div>
      </td>
    </tr>
    <tr>
      <td>4</td>
      <td>
        <p>Скручування на прес висячи</p>
      </td>
      <td>3</td>
      <td></td>
      <td>макс.</td>
    </tr>
    </tbody>
  </table>
</div>
