.edit-btn {
  background: transparent;
  border: none;
  outline: none;
  margin-left: 10px;
}

svg-icon {
  &[name="done"] {
    /deep/ svg {
      width: 25px;
      height: 25px;
    }
  }
  /deep/ svg {
    width: 15px;
    height: 15px;
    fill: #fff;
    &:hover {
      fill: #007bff;
    }
  }
}

.tags-edit-input {
  width: auto;
}
.badge {
  margin-right: 5px;
}
