.edit-btn {
  background: transparent;
  border: none;
  outline: none;
  margin-left: 10px;
}

svg-icon {
  &[name="done"] {
    ::ng-deep svg {
      width: 25px;
      height: 25px;
    }
  }
  ::ng-deep svg {
    width: 15px;
    height: 15px;
    fill: #fff;
    &:hover {
      fill: #007bff;
    }
  }
}

.tags-edit-input {
  width: auto;
  background: transparent;
  border: none;
  border-bottom: 1px solid #ccc;
  border-radius: 0;
  outline: none;
  color: #fff;
  &:focus {
    box-shadow: none;
  }
}
.badge {
  margin-right: 5px;
}
