<div
  *ngIf="plan.isOriginal"
  class="mb-2">
  <div class="custom-control custom-switch">
    <input type="checkbox"
           [(ngModel)]="plan.isPublic"
           (change)="updateIsPublic()"
           class="custom-control-input"
           id="is-public">
    <label class="custom-control-label" for="is-public">Публічність
      <span style="font-size: 12px">
          (доступна в пошуку для інших користувачів)
        </span>
    </label>
  </div>
</div>

<div class="tags mb-4">
  <span>Теги: </span>
  <ng-container *ngIf="editingState; then defaultTemplate; else editingStateTemplate">
  </ng-container>

  <ng-template #editingStateTemplate>
    <span class="badge badge-light"
          *ngFor="let tag of plan.tags.split(',')"
          [textContent]="tag">

              </span>
    <span
      *ngIf="!plan.isOriginal"
      class="badge badge-warning">
      програма додана з каталогу
    </span>
  </ng-template>
  <ng-template #defaultTemplate>
    <input [(ngModel)]="updatedTags"
           placeholder="сила,витривалість ..."
           type="text"
           class="form-control d-inline-block tags-edit-input ml-2">
  </ng-template>

  <button
    *ngIf="plan.isOriginal"
    class="edit-btn"
    (click)="edit()">
    <svg-icon *ngIf="!editingState" name="pencil"></svg-icon>
    <svg-icon *ngIf="editingState" name="done"></svg-icon>
  </button>
</div>
