.weight-controls {
  label {
    margin-right: 10px;
  }
}

table {
  color: #fff;
  thead {
    tr {
      th {
        border-top: none;
        border-color: #dee2e621;
      }
    }
  }
  tbody {
    tr {
      &:nth-child(odd) {
        background-color: #1b385847;
      }
      &.no-border {
        background-color: transparent;
        border: none;
      }
      border-bottom: 1px solid #dee2e621;
      th {
        background-color: rgba(0,0,0,0.15);
      }
      td, th {
        border: none;
      }
    }
  }
}

@media only screen and (max-width: 800px) {
  tbody {
    font-size: 12px;
    tr td:nth-child(2) p {
      //writing-mode: vertical-rl;
      //transform: rotate(180deg);
      margin-left: 0;
    }
    //tr td div {
    //  border-bottom: 1px solid #fff;
    //}
  }

  thead {
    th {
      font-size: 12px;
    }
  }

  table tr td:nth-child(1),
  table tr th:nth-child(1) {
    padding-left: 8px;
    padding-right: 4px;
  }
}

.badge {
  margin-right: 5px;
  font-size: 1rem;
}

.scores {
  margin-bottom: 10px;
  color: #007bff;;
}

