<div *ngFor="let item of workouts" class="workout">
  <p>
    <button type="button" class="btn btn-outline-primary" (click)="item.isOpen = !item.isOpen"
            [attr.aria-expanded]="item.isOpen" aria-controls="collapseExample">
      {{ item.name }}
    </button>
    <button type="button" class="btn btn-outline-danger float-right" (click)="removeWorkout(item.name)">
      x
    </button>
  </p>
  <div id="collapseExample" [ngbCollapse]="!item.isOpen">
    <div class="card">
      <div class="card-body">
        <workout [workoutName]="item.name" [planName]="planName"></workout>
      </div>
    </div>
  </div>
</div>

<div class="input-group mb-3">
  <input type="text"
         class="form-control"
         aria-label="Recipient's username"
         aria-describedby="basic-addon2"
         [(ngModel)]="nextWorkoutName">
  <div class="input-group-append">
    <button class="btn btn-outline-secondary" type="button" (click)="addWorkout()">Add Workout</button>
  </div>
</div>

