.instructions-container, .oep-instructions-container {
  color: #000;
  margin-bottom: 10px;

  .badge {
    padding-right: 20px;
    font-size: 100%;
  }

  p {
    margin-bottom: 8px;
  }
  span {
    margin-right: 5px;
  }
  .example1 {
    background: #969696d4;
    padding: 4px;
    border-radius: 4px;
  }
  .result-item {
    background: #969696d4;
    padding: 4px;
    border-radius: 4px;
  }
}

.instructions-container {
  display: flex;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.125);
  padding: 10px 4px 4px 10px;
  border-radius: 4px;
  .info-icon {
    margin-right: 10px;
  }
}

.oep-instructions-container {
  flex-direction: column;
  align-items: flex-start;

  .instructions {
    border: 1px solid rgba(255, 255, 255, 0.125);
    padding: 10px 4px 4px 10px;
    border-radius: 4px;
  }

  .badge {
    cursor: pointer;
    margin-bottom: 10px;
    animation: hint-animation 2s infinite;
  }
  .example1 {
    line-height: 2;
  }
}

@keyframes hint-animation {
  0% {
    background: rgba(220,53,69,1);
  }
  50% {
    background: rgba(220,53,69,0.5);
  }
  100% {
    background: rgba(220,53,69,1);
  }
}
