<div [ngClass]="isOEP ? 'oep-instructions-container' : 'instructions-container'">
  <div class="title">
    <span *ngIf="isOEP" (click)="changeShowHint()" class="badge badge-danger">
      <strong *ngIf="!showHint">Показати підказку</strong>
      <strong *ngIf="showHint">Сховати підказку</strong>
    </span>

    <svg-icon *ngIf="isDefaultP"
              class="info-icon"
              width="24px"
              height="24px" name="info"></svg-icon>
  </div>
  <div *ngIf="(showHint && isOEP) || isDefaultP" class="instructions">
    <p>
    <span class="example1">
    50 4 70 3 70 3
    </span>
      <span class="text">результат:</span>
      <span class="result">
      <span class="result-item">
        1-50кг 4
      </span>
      <span class="result-item">
        1-70кг 3
      </span>
      <span class="result-item">
        2-70кг 3
      </span>
    </span>
    </p>
    <p>
    <span class="example1">
    10/10/10
    </span>
      <span class="text">результат:</span>
      <span class="result">
      <span *ngFor="let i of [10,10,10]" class="result-item" [textContent]="i"> </span>
    </span>
    </p>
  </div>
</div>
