<div>

  <div class="mb-4 mt-4">
    <span class="liftup-string">Liftup</span> - це сервіс, що допоможе тобі знайти програму тренувань
    відповідно до твоїх цілей, відслідкувати прогрес, або ж створити свою програму.
    Як бонус, ви можете використовувати програму дуже досвідченого пауерліфтера Шейко
  </div>

  <h3>
    Конвертор
  </h3>

  <div class="weight-converter">
    <form>
      <div class="form-row">
        <div class="col">
          <input type="text"
                 [ngModel]="kgs"
                 (ngModelChange)="kgsChange($event)"
                 name="kgs"
                 class="form-control"
                 placeholder="Кілограми">
        </div>
        <div class="col">
          <input type="text"
                 [ngModel]="pounds"
                 (ngModelChange)="poundsChange($event)"
                 name="pounds" class="form-control"
                 placeholder="Фунти">
        </div>
      </div>
    </form>
  </div>

  <h3>Новини<loader-icon *ngIf="!news"></loader-icon></h3>
  <div *ngIf="!news" class="alert alert-warning" role="alert">
    Наразі наш сервіс у альфа-версії! Почекайте будь-ласка 10 секунд
  </div>

  <div *ngFor="let newsItem of news" class="card text-white bg-dark mb-3">
    <div class="card-header">{{newsItem.title}}</div>
    <div class="card-body">
      <p class="card-text" [innerHTML]="getSanitized(newsItem.description)">
      </p>
    </div>
  </div>

</div>
