<div>
  <h3>Новини</h3>


  <div class="card text-white bg-dark mb-3">
    <div class="card-header">Мої програми</div>
    <div class="card-body">
      <p class="card-text">
        Додано можливість створювати свої програми.
        Програми поділяються на тренування. Тренування складаються з вправ.
        Для того, щоб додати вправу потрібно спочатку додати її назву, а потім додати
        ваги та повторення у наступному форматі 90-5-100-4-105-2, де 90, 100, 105 - це ваги,
        а 5, 4 та 2 - це кількість повторень для відповідної ваги.
      </p>
    </div>
  </div>

  <div class="card text-white bg-dark mb-3">
    <div class="card-header">Програма</div>
    <div class="card-body">
      <p class="card-text">
        Сторінка з головною програмою на базі програми Шейко. Ціль програми: збільшення силових показників
        у разових повтореннях з 3 базових дисциплін: жим, присяд, станова тяга. Для того, щоб почати займатись за програмою,
        потрібно визначити свої поточні разові максимуми для кожної з 3 дисциплін і підставити у відповідні поля.
        Після цього розрахується план по підходах та повтореннях на цілий тренувальний місяць. Для того, щоб не вводити дані кожного
        разу, варто їх зберегти.
      </p>
    </div>
  </div>


</div>
