loader-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-left: 10px;
}
.weight-converter {
  margin: 20px auto;
  width: 56%;
}
.liftup-string {
  font-size: 24px;
  font-weight: 900;
  color: rgb(249,160,96);
}
