<h3 [textContent]="exerciseName"></h3>
<ul class="list-group">
  <exercise
    *ngFor="let exercise of exercises; let i = index"
    (onSetDone)="setDone($event)"
    (onRemoveExercise)="removeExercise($event)"
    [exercise]="exercise"
    [exerciseIndex]="i">

  </exercise>
</ul>
<div class="input-group mb-3">
  <input type="text" class="form-control"
         placeholder="{{inputCaption}}"
         [(ngModel)]="inputValue"
         (keyup.enter)="exerciseButtonHandler()">

  <div class="input-group-append">
    <button class="btn btn-outline-secondary"
            type="button"
            (click)="exerciseButtonHandler()"
            id="button-addon2">
      +
    </button>
  </div>
</div>
