<h3 [textContent]="exerciseName"></h3>
<ul class="list-group">
  <ng-container *ngIf="type === 'oneExercisePlan' then oepExercise; else defaultExercise"></ng-container>
  <ng-template #defaultExercise>
    <exercise
      *ngFor="let exercise of exercises; let i = index"
      (onSetDone)="setDone($event)"
      (onRemoveExercise)="removeExercise($event)"
      [exercise]="exercise"
      [exerciseIndex]="i">

    </exercise>
  </ng-template>
  <ng-template #oepExercise>
    <oep-exercise
      *ngFor="let exercise of exercises; let i = index"
      (onSetDone)="setDone($event)"
      (onRemoveExercise)="removeExercise($event)"
      [exercise]="exercise"
      [exerciseIndex]="i">

    </oep-exercise>
  </ng-template>
</ul>
<div class="input-group mb-3">
  <input type="text" class="form-control"
         placeholder="{{inputCaption}}"
         [(ngModel)]="inputValue"
         (keyup.enter)="exerciseButtonHandler()">

  <div class="input-group-append">
    <button class="btn btn-outline-secondary"
            type="button"
            (click)="exerciseButtonHandler()"
            id="button-addon2">
      +
    </button>
  </div>
</div>
