:host {
  overflow: hidden;
}

.nav {
  margin-top: 10px;
  margin-bottom: 20px;
}
.mobi-nav {
  border-bottom: 5px solid rgba(0,0,0,0.2);
  margin-bottom: 20px;

  .masthead-brand {
    display: inline-block;
  }
  svg-icon[name="logo"] {
    float: left;
    margin-right: 5px;
  }

  .nav-link {
    &.active {
      background: rgba(0,0,0,0.1);
    }
  }

  .nav-button {
    border: none;
    background: #343a40;
    outline: none;
  }
}

svg-icon[name="logo"] {
  float: left;
  margin-right: 5px;
}

.masthead-brand {
  font-weight: 800;
}

footer {
  .inner {
    margin-bottom: 20px;
  }
}

.logo-wrap {
  cursor: pointer;
}

