<div>
  <h5 class="font-weight-bold">Тяга: 75кг</h5>
  <h5 class="font-weight-bold">Жим: 105кг</h5>
  <h5 class="font-weight-bold">Присяд: ...</h5>

  <div class="form-group weight-controls">
    <label>Присяд: <input type="text" name="squats" [(ngModel)]="squats" class="form-control"></label>
    <label>Жим: <input type="text" name="press" [(ngModel)]="press" class="form-control"></label>
    <label>Станова тяга: <input type="text" name="deadlift" [(ngModel)]="deadlift" class="form-control"></label>
  </div>

  <table class="table table-bordered" border="0" cellspacing="0" cellpadding="0" width="100%">
    <thead>
    <tr class="font-weight-bold">
      <th>#</th>
      <th>Exercise</th>
      <th>Sets</th>
      <th>Weight</th>
      <th>Reps</th>
    </tr>
    </thead>

    <tbody>

    <tr>
      <th colspan="5">Тренування 1</th>
    </tr>

    <tr>
      <td>1</td>
      <td>
        <p>Жим лежачи</p>
      </td>
      <td>
        <div>1</div>
        <div>2</div>
        <div>2</div>
        <div>4</div>
        <div>1 [ен, мез]</div>
      </td>
      <td>
        <div>{{P(0.5)}}</div>
        <div>{{P(0.6)}}</div>
        <div>{{P(0.7)}}</div>
        <div>{{P(0.75)}}</div>
        <div>{{P(0.75)}}</div>
      </td>
      <td>
        <div>5</div>
        <div>4</div>
        <div>3</div>
        <div>3</div>
        <div>3</div>
      </td>
    </tr>

    <tr>
      <td>2</td>
      <td>
        <p>Присідання</p>
      </td>
      <td>
        <div>1</div>
        <div>2</div>
        <div>5</div>
      </td>
      <td>
        <div>{{S(0.5)}}</div>
        <div>{{S(0.6)}}</div>
        <div>{{S(0.7)}}</div>
      </td>
      <td>
        <div>5</div>
        <div>5</div>
        <div>5</div>
      </td>
    </tr>
    <tr>
      <td>3</td>
      <td>
        <p>Жим лежачи</p>
      </td>
      <td>
        <div>1</div>
        <div>2</div>
        <div>4</div>
      </td>
      <td>
        <div>{{P(0.5)}}</div>
        <div>{{P(0.6)}}</div>
        <div>{{P(0.65)}}</div>
      </td>
      <td>
        <div>6</div>
        <div>6</div>
        <div>6</div>
      </td>
    </tr>
    <tr>
      <td>4</td>
      <td>
        <p>Розведення рук з гантелями лежачи</p>
      </td>
      <td>3 [ен, мез]</td>
      <td>макс.</td>
      <td>5</td>
    </tr>
    <tr>
      <th colspan="5">Тренування 2</th>
    </tr>
    <tr>
      <td>1</td>
      <td>
        <p>Станова тяга</p>
      </td>
      <td>
        <div>1</div>
        <div>2</div>
        <div>2</div>
        <div>4</div>
      </td>
      <td>
        <div>{{D(0.5)}}</div>
        <div>{{D(0.6)}}</div>
        <div>{{D(0.7)}}</div>
        <div>{{D(0.75)}}</div>
      </td>
      <td>
        <div>5</div>
        <div>5</div>
        <div>4</div>
        <div>3</div>
      </td>
    </tr>
    <tr>
      <td>2</td>
      <td>
        <p>Жим лежачи під кутом</p>
      </td>
      <td>4, 6 [ен, мез]</td>
      <td></td>
      <td>4</td>
    </tr>
    <tr>
      <td>3</td>
      <td>
        <p>Підтягування на брусах з вагою</p>
      </td>
      <td>4, 5 [ен, мез]</td>
      <td></td>
      <td>5</td>
    </tr>
    <tr>
      <td>4</td>
      <td>
        <p>Тяга з плінтів</p>
      </td>
      <td>
        <div>1</div>
        <div>2</div>
        <div>2</div>
        <div>3</div>
        <div>1 [ен, мез]</div>
      </td>
      <td>
        <div>{{D(0.5)}}</div>
        <div>{{D(0.6)}}</div>
        <div>{{D(0.7)}}</div>
        <div>{{D(0.8)}}</div>
        <div>{{D(0.8)}}</div>
      </td>
      <td>
        <div>5</div>
        <div>5</div>
        <div>4</div>
        <div>3</div>
        <div>3</div>
      </td>
    </tr>
    <tr>
      <td>5</td>
      <td>
        <p>Скручування на прес висячи</p>
      </td>
      <td>3</td>
      <td></td>
      <td>макс.</td>
    </tr>
    <tr>
      <th colspan="5">Тренування 3</th>
    </tr>
    <tr>
      <td>1</td>
      <td>
        <p>Жим лежачи</p>
      </td>
      <td>
        <div>1</div>
        <div>1</div>
        <div>1</div>
        <div>1</div>
        <div>2</div>
        <div>2</div>
        <div>2[ен, мез]</div>
        <div>1</div>
        <div>1</div>
        <div>1[ен, мез]</div>
        <div>1[ен, мез]</div>
      </td>
      <td>
        <div>{{P(0.5)}}</div>
        <div>{{P(0.55)}}</div>
        <div>{{P(0.6)}}</div>
        <div>{{P(0.65)}}</div>
        <div>{{P(0.7)}}</div>
        <div>{{P(0.75)}}</div>
        <div>{{P(0.7)}}</div>
        <div>{{P(0.65)}}</div>
        <div>{{P(0.6)}}</div>
        <div>{{P(0.55)}}</div>
        <div>{{P(0.5)}}</div>
      </td>
      <td>
        <div>7</div>
        <div>6</div>
        <div>5</div>
        <div>4</div>
        <div>3</div>
        <div>2</div>
        <div>3</div>
        <div>4</div>
        <div>6</div>
        <div>8</div>
        <div>10</div>
      </td>
    </tr>
    <tr>
      <td>2</td>
      <td>
        <p>Розведення рук з гантелями лежачи</p>
      </td>
      <td>3 [ен, мез]</td>
      <td></td>
      <td>10</td>
    </tr>
    <tr>
      <td>3</td>
      <td>
        <p>Присідання</p>
      </td>
      <td>
        <div>1</div>
        <div>2</div>
        <div>2</div>
        <div>3</div>
        <div>2 [ен, мез]</div>
      </td>
      <td>
        <div>{{S(0.5)}}</div>
        <div>{{S(0.6)}}</div>
        <div>{{S(0.7)}}</div>
        <div>{{S(0.75)}}</div>
        <div>{{S(0.75)}}</div>
      </td>
      <td>
        <div>5</div>
        <div>4</div>
        <div>3</div>
        <div>3</div>
        <div>3</div>
      </td>
    </tr>
    <tr>
      <td>4</td>
      <td>
        <p>Тріцепс на блоці</p>
      </td>
      <td>
        <div>2</div>
        <div>2 [ен, мез]</div>
      </td>
      <td></td>
      <td>
        <div>10</div>
        <div>10</div>
      </td>
    </tr>
    <tr>
      <th colspan="5">Тренування 4</th>
    </tr>
    <tr>
      <td>1</td>
      <td>
        <p>Присідання</p>
      </td>
      <td>
        <div>1</div>
        <div>2</div>
        <div>2</div>
        <div>4</div>
        <div>1 [ен, мез]</div>
      </td>
      <td>
        <div>{{S(0.5)}}</div>
        <div>{{S(0.6)}}</div>
        <div>{{S(0.7)}}</div>
        <div>{{S(0.8)}}</div>
        <div>{{S(0.8)}}</div>
      </td>
      <td>
        <div>5</div>
        <div>4</div>
        <div>3</div>
        <div>2</div>
        <div>2</div>
      </td>
    </tr>
    <tr>
      <td>2</td>
      <td>
        <p>Жим лежачи</p>
      </td>
      <td>
        <div>1</div>
        <div>1</div>
        <div>2</div>
        <div>5</div>
        <div>1 [ен, мез]</div>
      </td>
      <td>
        <div>{{P(0.5)}}</div>
        <div>{{P(0.6)}}</div>
        <div>{{P(0.7)}}</div>
        <div>{{P(0.8)}}</div>
        <div>{{P(0.8)}}</div>
      </td>
      <td>
        <div>5</div>
        <div>4</div>
        <div>3</div>
        <div>2</div>
        <div>2</div>
      </td>
    </tr>
    <tr>
      <td>3</td>
      <td>
        <p>Відтискання від підлоги</p>
      </td>
      <td>5</td>
      <td></td>
      <td>макс</td>
    </tr>
    <tr>
      <td>4</td>
      <td>
        <p>Присідання</p>
      </td>
      <td>
        <div>1</div>
        <div>1</div>
        <div>4</div>
      </td>
      <td>
        <div>{{S(0.55)}}</div>
        <div>{{S(0.65)}}</div>
        <div>{{S(0.75)}}</div>
      </td>
      <td>
        <div>3</div>
        <div>3</div>
        <div>3</div>
      </td>
    </tr>
    <tr>
      <th colspan="5">Тренування 5</th>
    </tr>
    <tr>
      <td>1</td>
      <td>
        <p>Тяга до колін</p>
      </td>
      <td>
        <div>1</div>
        <div>2</div>
        <div>4</div>
      </td>
      <td>
        <div>{{S(0.50)}}</div>
        <div>{{S(0.6)}}</div>
        <div>{{S(0.70)}}</div>
      </td>
      <td>
        <div>4</div>
        <div>4</div>
        <div>4</div>
      </td>
    </tr>
    <tr>
      <td>2</td>
      <td>
        <p>Жим лежачи</p>
      </td>
      <td>
        <div>1</div>
        <div>2</div>
        <div>5</div>
      </td>
      <td>
        <div>{{P(0.50)}}</div>
        <div>{{P(0.60)}}</div>
        <div>{{P(0.70)}}</div>
      </td>
      <td>
        <div>5</div>
        <div>5</div>
        <div>4</div>
      </td>
    </tr>
    <tr>
      <td>3</td>
      <td>
        <p>Тренажер бабочка</p>
      </td>
      <td>3 [ен, мез]</td>
      <td></td>
      <td>10</td>
    </tr>
    <tr>
      <td>4</td>
      <td>
        <p>Станова тяга</p>
      </td>
      <td>
        <div>1</div>
        <div>1</div>
        <div>2</div>
        <div>4</div>
        <div>1 [ен, мез]</div>
      </td>
      <td>
        <div>{{S(0.50)}}</div>
        <div>{{S(0.60)}}</div>
        <div>{{S(0.70)}}</div>
        <div>{{S(0.75)}}</div>
        <div>{{S(0.75)}}</div>
      </td>
      <td>
        <div>4</div>
        <div>4</div>
        <div>3</div>
        <div>3</div>
        <div>3</div>
      </td>
    </tr>
    <tr>
      <th colspan="5">Тренування 6</th>
    </tr>
    <tr>
      <td>1</td>
      <td>
        <p>Присідання</p>
      </td>
      <td>
        <div>1</div>
        <div>1</div>
        <div>2</div>
        <div>6</div>
      </td>
      <td>
        <div>{{S(0.50)}}</div>
        <div>{{S(0.60)}}</div>
        <div>{{S(0.70)}}</div>
        <div>{{S(0.75)}}</div>
      </td>
      <td>
        <div>4</div>
        <div>4</div>
        <div>3</div>
        <div>3</div>
      </td>
    </tr>
    <tr>
      <td>2</td>
      <td>
        <p>Жим лежачи</p>
      </td>
      <td>
        <div>1</div>
        <div>1</div>
        <div>2</div>
        <div>2</div>
        <div>2</div>
        <div>1</div>
        <div>1 [ен, мез]</div>
        <div>1</div>
        <div>1 [ен, мез]</div>
      </td>
      <td>
        <div>{{P(0.50)}}</div>
        <div>{{P(0.60)}}</div>
        <div>{{P(0.70)}}</div>
        <div>{{P(0.75)}}</div>
        <div>{{P(0.80)}}</div>
        <div>{{P(0.75)}}</div>
        <div>{{P(0.70)}}</div>
        <div>{{P(0.60)}}</div>
        <div>{{P(0.50)}}</div>
      </td>
      <td>
        <div>6</div>
        <div>5</div>
        <div>4</div>
        <div>3</div>
        <div>2</div>
        <div>4</div>
        <div>5</div>
        <div>6</div>
        <div>7</div>
      </td>
    </tr>
    <tr>
      <td>3</td>
      <td>
        <p>Разведення рук з гантелями під кутом</p>
      </td>
      <td>
        <div>3</div>
        <div>2 [ен, мез]</div>
      </td>
      <td></td>
      <td>
        <div>10</div>
        <div>10</div>
      </td>
    </tr>
    <tr>
      <td>4</td>
      <td>
        <p>Тріцепс на блоці</p>
      </td>
      <td>
        <div>3</div>
        <div>2 [ен, мез]</div>
      </td>
      <td></td>
      <td>
        <div>10</div>
        <div>10</div>
      </td>
    </tr>
    <tr>
      <td>5</td>
      <td>
        <p>Присідання</p>
      </td>
      <td>
        <div>1</div>
        <div>1</div>
        <div>4</div>
      </td>
      <td>
        <div>{{S(0.55)}}</div>
        <div>{{S(0.65)}}</div>
        <div>{{S(0.75)}}</div>
      </td>
      <td>
        <div>3</div>
        <div>3</div>
        <div>2</div>
      </td>
    </tr>
    <tr>
      <th colspan="5">Тренування 7</th>
    </tr>
    <tr>
      <td>1</td>
      <td>
        <p>Присідання</p>
      </td>
      <td>
        <div>1</div>
        <div>2</div>
        <div>2</div>
        <div>4</div>
        <div>1 [ен, мез]</div>
      </td>
      <td>
        <div>{{S(0.50)}}</div>
        <div>{{S(0.60)}}</div>
        <div>{{S(0.70)}}</div>
        <div>{{S(0.80)}}</div>
        <div>{{S(0.80)}}</div>
      </td>
      <td>
        <div>5</div>
        <div>4</div>
        <div>3</div>
        <div>3</div>
        <div>3</div>
      </td>
    </tr>
    <tr>
      <td>2</td>
      <td>
        <p>Жим лежачи</p>
      </td>
      <td>
        <div>1</div>
        <div>1</div>
        <div>2</div>
        <div>5</div>
      </td>
      <td>
        <div>{{P(0.50)}}</div>
        <div>{{P(0.60)}}</div>
        <div>{{P(0.70)}}</div>
        <div>{{P(0.80)}}</div>
      </td>
      <td>
        <div>5</div>
        <div>4</div>
        <div>3</div>
        <div>3</div>
      </td>
    </tr>
    <tr>
      <td>3</td>
      <td>
        <p>Відтискання від підлоги</p>
      </td>
      <td>5</td>
      <td></td>
      <td>макс.</td>
    </tr>
    <tr>
      <td>4</td>
      <td>
        <p>Присідання</p>
      </td>
      <td>
        <div>1</div>
        <div>1</div>
        <div>4</div>
        <div>1 [ен, мез]</div>
      </td>
      <td>
        <div>{{S(0.50)}}</div>
        <div>{{S(0.60)}}</div>
        <div>{{S(0.70)}}</div>
        <div>{{S(0.70)}}</div>
      </td>
      <td>
        <div>5</div>
        <div>5</div>
        <div>5</div>
        <div>5</div>
      </td>
    </tr>
    <tr>
      <th colspan="5">Тренування 8</th>
    </tr>
    <tr>
      <td>1</td>
      <td>
        <p>Тяга штанги до колін</p>
      </td>
      <td>
        <div>1</div>
        <div>1</div>
        <div>2</div>
        <div>4</div>
      </td>
      <td>
        <div>{{S(0.50)}}</div>
        <div>{{S(0.60)}}</div>
        <div>{{S(0.70)}}</div>
        <div>{{S(0.75)}}</div>
      </td>
      <td>
        <div>4</div>
        <div>4</div>
        <div>4</div>
        <div>4</div>
      </td>
    </tr>
    <tr>
      <td>2</td>
      <td>
        <p>Жим лежачи</p>
      </td>
      <td>
        <div>1</div>
        <div>1</div>
        <div>2</div>
        <div>2</div>
        <div>2</div>
        <div>2</div>
        <div>1</div>
        <div>1 [ен, мез]</div>
        <div>1</div>
        <div>1 [ен, мез]</div>
        <div>1</div>
      </td>
      <td>
        <div>{{P(0.50)}}</div>
        <div>{{P(0.60)}}</div>
        <div>{{P(0.70)}}</div>
        <div>{{P(0.75)}}</div>
        <div>{{P(0.80)}}</div>
        <div>{{P(0.75)}}</div>
        <div>{{P(0.70)}}</div>
        <div>{{P(0.65)}}</div>
        <div>{{P(0.60)}}</div>
        <div>{{P(0.55)}}</div>
        <div>{{P(0.50)}}</div>
      </td>
      <td>
        <div>6</div>
        <div>5</div>
        <div>4</div>
        <div>3</div>
        <div>2</div>
        <div>3</div>
        <div>4</div>
        <div>5</div>
        <div>6</div>
        <div>7</div>
        <div>8</div>
      </td>
    </tr>
    <tr>
      <td>3</td>
      <td>
        <p>Жим гантелей лежачи</p>
      </td>
      <td>
        <div>3</div>
        <div>2 [ен, мез]</div>
      </td>
      <td></td>
      <td>
        <div>10</div>
        <div>10</div>
      </td>
    </tr>
    <tr>
      <td>4</td>
      <td>
        <p>Тяга штанги з плінтів</p>
      </td>
      <td>
        <div>1</div>
        <div>2</div>
        <div>3</div>
        <div>1 [ен, мез]</div>
      </td>
      <td>
        <div>{{S(0.60)}}</div>
        <div>{{S(0.70)}}</div>
        <div>{{S(0.80)}}</div>
        <div>{{S(0.80)}}</div>
      </td>
      <td>
        <div>5</div>
        <div>5</div>
        <div>4</div>
        <div>4</div>
      </td>
    </tr>
    <tr>
      <td>5</td>
      <td>
        <p>Скручування на прес висячи</p>
      </td>
      <td>3</td>
      <td></td>
      <td>макс.</td>
    </tr>
    <tr>
      <th colspan="5">Тренування 9</th>
    </tr>
    <tr>
      <td>1</td>
      <td>
        <p>Жим лежачи</p>
      </td>
      <td>
        <div>1</div>
        <div>1</div>
        <div>2</div>
        <div>4</div>
        <div>1 [ен, мез]</div>
      </td>
      <td>
        <div>{{P(0.50)}}</div>
        <div>{{P(0.60)}}</div>
        <div>{{P(0.70)}}</div>
        <div>{{P(0.80)}}</div>
        <div>{{P(0.80)}}</div>
      </td>
      <td>
        <div>5</div>
        <div>4</div>
        <div>3</div>
        <div>2</div>
        <div>2</div>
      </td>
    </tr>
    <tr>
      <td>2</td>
      <td>
        <p>Присідання</p>
      </td>
      <td>
        <div>1</div>
        <div>1</div>
        <div>2</div>
        <div>5</div>
      </td>
      <td>
        <div>{{S(0.50)}}</div>
        <div>{{S(0.60)}}</div>
        <div>{{S(0.70)}}</div>
        <div>{{S(0.75)}}</div>
      </td>
      <td>
        <div>5</div>
        <div>5</div>
        <div>5</div>
        <div>4</div>
      </td>
    </tr>
    <tr>
      <td>3</td>
      <td>
        <p>Жим лежачи</p>
      </td>
      <td>
        <div>1</div>
        <div>2</div>
        <div>4</div>
      </td>
      <td>
        <div>{{P(0.50)}}</div>
        <div>{{P(0.60)}}</div>
        <div>{{P(0.65)}}</div>
      </td>
      <td>
        <div>6</div>
        <div>6</div>
        <div>6</div>
      </td>
    </tr>
    <tr>
      <th colspan="5">Тренування 10</th>
    </tr>
    <tr>
      <td>1</td>
      <td>
        <p>Присідання</p>
      </td>
      <td>
        <div>1</div>
        <div>1</div>
        <div>2</div>
        <div>2</div>
        <div>2</div>
        <div>1 [ен, мез]</div>
      </td>
      <td>
        <div>{{S(0.50)}}</div>
        <div>{{S(0.60)}}</div>
        <div>{{S(0.70)}}</div>
        <div>{{S(0.80)}}</div>
        <div>{{S(0.85)}}</div>
        <div>{{S(0.85)}}</div>
      </td>
      <td>
        <div>5</div>
        <div>4</div>
        <div>3</div>
        <div>3</div>
        <div>2</div>
        <div>2</div>
      </td>
    </tr>
    <tr>
      <td>2</td>
      <td>
        <p>Жим лежачи</p>
      </td>
      <td>
        <div>1</div>
        <div>1</div>
        <div>2</div>
        <div>4</div>
        <div>1 [ен, мез]</div>
      </td>
      <td>
        <div>{{P(0.50)}}</div>
        <div>{{P(0.60)}}</div>
        <div>{{P(0.70)}}</div>
        <div>{{P(0.80)}}</div>
        <div>{{P(0.80)}}</div>
      </td>
      <td>
        <div>5</div>
        <div>4</div>
        <div>3</div>
        <div>3</div>
        <div>3</div>
      </td>
    </tr>
    <tr>
      <td>4</td>
      <td>
        <p>Підтягування на брусах</p>
      </td>
      <td>5</td>
      <td></td>
      <td>8</td>
    </tr>
    <tr>
      <td>5</td>
      <td>
        <p>Присідання</p>
      </td>
      <td>
        <div>1</div>
        <div>1</div>
        <div>2</div>
        <div>3</div>
        <div>1 [ен, мез]</div>
      </td>
      <td>
        <div>{{S(0.50)}}</div>
        <div>{{S(0.60)}}</div>
        <div>{{S(0.70)}}</div>
        <div>{{S(0.80)}}</div>
        <div>{{S(0.80)}}</div>
      </td>
      <td>
        <div>5</div>
        <div>4</div>
        <div>3</div>
        <div>2</div>
        <div>2</div>
      </td>
    </tr>
    <tr>
      <th colspan="5">Тренування 11</th>
    </tr>
    <tr>
      <td>1</td>
      <td>
        <p>Жим лежачи</p>
      </td>
      <td>
        <div>1</div>
        <div>1</div>
        <div>2</div>
        <div>2</div>
        <div>2</div>
        <div>1 [ен, мез]</div>
      </td>
      <td>
        <div>{{P(0.50)}}</div>
        <div>{{P(0.60)}}</div>
        <div>{{P(0.70)}}</div>
        <div>{{P(0.80)}}</div>
        <div>{{P(0.85)}}</div>
        <div>{{P(0.85)}}</div>
      </td>
      <td>
        <div>5</div>
        <div>4</div>
        <div>3</div>
        <div>3</div>
        <div>2</div>
        <div>2</div>
      </td>
    </tr>
    <tr>
      <td>2</td>
      <td>
        <p>Станова тяга</p>
      </td>
      <td>
        <div>1</div>
        <div>1</div>
        <div>2</div>
        <div>2</div>
        <div>3</div>
      </td>
      <td>
        <div>{{S(0.50)}}</div>
        <div>{{S(0.60)}}</div>
        <div>{{S(0.70)}}</div>
        <div>{{S(0.80)}}</div>
        <div>{{S(0.85)}}</div>
      </td>
      <td>
        <div>4</div>
        <div>4</div>
        <div>3</div>
        <div>3</div>
        <div>2</div>
      </td>
    </tr>
    <tr>
      <td>3</td>
      <td>
        <p>Жим лежачи</p>
      </td>
      <td>
        <div>1</div>
        <div>1</div>
        <div>4</div>
      </td>
      <td>
        <div>{{P(0.55)}}</div>
        <div>{{P(0.65)}}</div>
        <div>{{P(0.75)}}</div>
      </td>
      <td>
        <div>5</div>
        <div>5</div>
        <div>4</div>
      </td>
    </tr>
    <tr>
      <th colspan="5">Тренування 12</th>
    </tr>
    <tr>
      <td>1</td>
      <td>
        <p>Присідання</p>
      </td>
      <td>
        <div>1</div>
        <div>1</div>
        <div>2</div>
        <div>6</div>
      </td>
      <td>
        <div>{{S(0.50)}}</div>
        <div>{{S(0.60)}}</div>
        <div>{{S(0.70)}}</div>
        <div>{{S(0.80)}}</div>
      </td>
      <td>
        <div>5</div>
        <div>4</div>
        <div>3</div>
        <div>3</div>
      </td>
    </tr>
    <tr>
      <td>2</td>
      <td>
        <p>Жим лежачи</p>
      </td>
      <td>
        <div>1</div>
        <div>1</div>
        <div>5</div>
      </td>
      <td>
        <div>{{P(0.50)}}</div>
        <div>{{P(0.60)}}</div>
        <div>{{P(0.70)}}</div>
      </td>
      <td>
        <div>5</div>
        <div>5</div>
        <div>5</div>
      </td>
    </tr>
    <tr>
      <td>3</td>
      <td>
        <p>Підтягування на брусах</p>
      </td>
      <td>
        <div>4</div>
        <div>1 [ен, мез]</div>
      </td>
      <td></td>
      <td>
        <div>8</div>
        <div>8</div>
      </td>
    </tr>
    <tr>
      <td>4</td>
      <td>
        <p>Скручування на прес висячи</p>
      </td>
      <td>3</td>
      <td></td>
      <td>макс.</td>
    </tr>
    </tbody>
  </table>
</div>
