<div>
  <h3 class="font-weight-bold">Тяга: 75кг</h3>
  <h3 class="font-weight-bold">Жим: 105кг</h3>
  <h3 class="font-weight-bold">Присяд: ...</h3>

  <div class="form-group">
    <label>Присяд: <input type="text" name="squats" [(ngModel)]="squats" class="form-control"></label>
    <label>Жим: <input type="text" name="press" [(ngModel)]="press" class="form-control"></label>
    <label>Станова тяга: <input type="text" name="deadlift" [(ngModel)]="deadlift" class="form-control"></label>
  </div>

  <table class="table table-bordered" border="0" cellspacing="0" cellpadding="0" width="100%">
    <thead>
      <tr class="font-weight-bold">
        <th>#</th>
        <th>Вправа</th>
        <th>Підходи</th>
        <th>Вага</th>
        <th>Повторення</th>
      </tr>
    </thead>

    <tbody>

    <tr>
      <th colspan="5" >Тренування 1</th>
    </tr>

    <tr>
      <td>1</td>
      <td>Жим лежачи</td>
      <td>
        <div>1</div>
        <div>2</div>
        <div>2</div>
        <div>4</div>
        <div>1 [эн, мез]</div>
      </td>
      <td>
        <div>{{P(0.5)}}</div>
        <div>{{P(0.6)}}</div>
        <div>{{P(0.7)}}</div>
        <div>{{P(0.75)}}</div>
        <div>{{P(0.75)}}</div>
      </td>
      <td>
        <div>5</div>
        <div>4</div>
        <div>3</div>
        <div>3</div>
        <div>3</div>
      </td>
    </tr>

    <tr>
      <td>2</td>
      <td>Присідання</td>
      <td>
        <div>1</div>
        <div>2</div>
        <div>5</div>
      </td>
      <td>
        <div>{{S(0.5)}}</div>
        <div>{{S(0.6)}}</div>
        <div>{{S(0.7)}}</div>
      </td>
      <td>
        <div>5</div>
        <div>5</div>
        <div>5</div>
      </td>
    </tr>
    <tr>
      <td>3</td>
      <td>Жим штанги лежа</td>
      <td>
        <div>1</div>
        <div>2</div>
        <div>4</div>
      </td>
      <td>
        <div>{{P(0.5)}}</div>
        <div>{{P(0.6)}}</div>
        <div>{{P(0.65)}}</div>
      </td>
      <td>
        <div>6</div>
        <div>6</div>
        <div>6</div>
      </td>
    </tr>
    <tr>
      <td>4</td>
      <td>Розведення рук з гантелями лежачи</td>
      <td>3 [эн, мез]</td>
      <td>макс.</td>
      <td>5</td>
    </tr>
    <tr>
      <th<div> colspan="5">Тренировка 2</div></th>
    </tr>
    <tr>
      <td>1</td>
      <td>Становая тяга</td>
      <td>
        <div>1</div>
        <div>2</div>
        <div>2</div>
        <div>4</div>
      </td>
      <td>
        <div>{{D(0.5)}}</div>
        <div>{{D(0.6)}}</div>
        <div>{{D(0.7)}}</div>
        <div>{{D(0.75)}}</div>
      </td>
      <td>
        <div>5</div>
        <div>5</div>
        <div>4</div>
        <div>3</div>
      </td>
    </tr>
    <tr>
      <td>2</td>
      <td>Жим лежа под углом</td>
      <td>4, 6 [эн, мез]</td>
      <td></td>
      <td>4</td>
    </tr>
    <tr>
      <td>3</td>
      <td>Отжимание на брусьях с весом</td>
      <td>4, 5 [эн, мез]</td>
      <td></td>
      <td>5</td>
    </tr>
    <tr>
      <td>4</td>
      <td>Тяга с плинтов</td>
      <td>
        <div>1</div>
        <div>2</div>
        <div>2</div>
        <div>3</div>
        <div>1 [эн, мез]</div>
      </td>
      <td>
        <div>{{D(0.5)}}</div>
        <div>{{D(0.6)}}</div>
        <div>{{D(0.7)}}</div>
        <div>{{D(0.8)}}</div>
        <div>{{D(0.8)}}</div>
      </td>
      <td>
        <div>5</div>
        <div>5</div>
        <div>4</div>
        <div>3</div>
        <div>3</div>
      </td>
    </tr>
    <tr>
      <td>5</td>
      <td>Скручивания на пресс в висе</td>
      <td>3</td>
      <td></td>
      <td>макс.</td>
    </tr>
    <tr>
      <th colspan="5" >Тренировка 3</th>
    </tr>
    <tr>
      <td>1</td>
      <td>Жим штанги лежа</td>
      <td>
        <div>1</div>
        <div>1</div>
        <div>1</div>
        <div>1</div>
        <div>2</div>
        <div>2</div>
        <div>2[эн, мез]</div>
        <div>1</div>
        <div>1</div>
        <div>1[эн, мез]</div>
        <div>1[эн, мез]</div>
      </td>
      <td>
        <div>{{P(0.5)}}</div>
        <div>{{P(0.55)}}</div>
        <div>{{P(0.6)}}</div>
        <div>{{P(0.65)}}</div>
        <div>{{P(0.7)}}</div>
        <div>{{P(0.75)}}</div>
        <div>{{P(0.7)}}</div>
        <div>{{P(0.65)}}</div>
        <div>{{P(0.6)}}</div>
        <div>{{P(0.55)}}</div>
        <div>{{P(0.5)}}</div>
      </td>
      <td>
        <div>7</div>
        <div>6</div>
        <div>5</div>
        <div>4</div>
        <div>3</div>
        <div>2 </div>
        <div>3</div>
        <div>4</div>
        <div>6</div>
        <div>8</div>
        <div>10</div>
      </td>
    </tr>
    <tr>
      <td>2</td>
      <td>Разведение рук с гантелями лежа</td>
      <td>3 [эн, мез]</td>
      <td></td>
      <td>10</td>
    </tr>
    <tr>
      <td>3</td>
      <td>Приседания</td>
      <td>
        <div>1</div>
        <div>2</div>
        <div>2</div>
        <div>3</div>
        <div>2 [эн, мез]</div>
      </td>
      <td>
        <div>{{S(0.5)}}</div>
        <div>{{S(0.6)}}</div>
        <div>{{S(0.7)}}</div>
        <div>{{S(0.75)}}</div>
        <div>{{S(0.75)}}</div>
      </td>
      <td>
        <div>5</div>
        <div>4</div>
        <div>3</div>
        <div>3</div>
        <div>3</div>
      </td>
    </tr>
    <tr>
      <td>4</td>
      <td>Трицепс на блоке</td>
      <td>2<br>2 [эн, мез]</td>
      <td></td>
      <td>10<br>10</td>
    </tr>
    <tr>
      <th colspan="5" >Тренировка 4</th>
    </tr>
    <tr>
      <td>1</td>
      <td>Приседания</td>
      <td>
        <div>1</div>
        <div>2</div>
        <div>2</div>
        <div>4</div>
        <div>1 [эн, мез]</div>
      </td>
      <td>
        <div>{{S(0.5)}}</div>
        <div>{{S(0.6)}}</div>
        <div>{{S(0.7)}}</div>
        <div>{{S(0.8)}}</div>
        <div>{{S(0.8)}}</div>
      </td>
      <td>
        <div>5</div>
        <div>4</div>
        <div>3</div>
        <div>2</div>
        <div>2</div>
      </td>
    </tr>
    <tr>
      <td>2</td>
      <td>Жим штанги лежа<br></td>
      <td>
        <div>1</div>
        <div>1</div>
        <div>2</div>
        <div>5</div>
        <div>1 [эн, мез]</div>
      </td>
      <td>
        <div>{{P(0.5)}}</div>
        <div>{{P(0.6)}}</div>
        <div>{{P(0.7)}}</div>
        <div>{{P(0.8)}}</div>
        <div>{{P(0.8)}}</div>
      </td>
      <td>
        <div>5</div>
        <div>4</div>
        <div>3</div>
        <div>2</div>
        <div>2</div>
      </td>
    </tr>
    <tr>
      <td>3</td>
      <td>Отжимание от пола</td>
      <td>5</td>
      <td></td>
      <td>макс</td>
    </tr>
    <tr>
      <td>4</td>
      <td>Приседания</td>
      <td>
        <div>1</div>
        <div>1</div>
        <div>4</div>
      </td>
      <td>
        <div>{{S(0.55)}}</div>
        <div>{{S(0.65)}}</div>
        <div>{{S(0.75)}}</div>
      </td>
      <td>3<br>3<br>3</td>
    </tr>
    <tr>
      <th colspan="5" >Тренировка 5</th>
    </tr>
    <tr>
      <td>1</td>
      <td>Тяга до колен</td>
      <td>
        <div>1</div>
        <div>2</div>
        <div>4</div>
      </td>
      <td>
        <div>{{S(0.50)}}</div>
        <div>{{S(0.6)}}</div>
        <div>{{S(0.70)}}</div>
      </td>
      <td>
        <div>4</div>
        <div>4</div>
        <div>4</div>
      </td>
    </tr>
    <tr>
      <td>2</td>
      <td>Жим штанги лежа</td>
      <td>
        <div>1</div>
        <div>2</div>
        <div>5</div>
      </td>
      <td>
        <div>{{P(0.50)}}</div>
        <div>{{P(0.60)}}</div>
        <div>{{P(0.70)}}</div>
      </td>
      <td>
        <div>5</div>
        <div>5</div>
        <div>4</div>
      </td>
    </tr>
    <tr>
      <td>3</td>
      <td>Тренажер бабочка</td>
      <td>3 [эн, мез]</td>
      <td></td>
      <td>10</td>
    </tr>
    <tr>
      <td>4</td>
      <td>Становая тяга</td>
      <td>
        <div>1</div>
        <div>1</div>
        <div>2</div>
        <div>4</div>
        <div>1 [эн, мез]</div>
      </td>
      <td>
        <div>{{S(0.50)}}</div>
        <div>{{S(0.60)}}</div>
        <div>{{S(0.70)}}</div>
        <div>{{S(0.75)}}</div>
        <div>{{S(0.75)}}</div>
      </td>
      <td>
        <div>4</div>
        <div>4</div>
        <div>3</div>
        <div>3</div>
        <div>3</div>
      </td>
    </tr>
    <tr>
      <th style="text-align: left;" colspan="5" >Тренировка 6</th>
    </tr>
    <tr>
      <td>1</td>
      <td>Приседания</td>
      <td>
        <div>1</div>
        <div>1</div>
        <div>2</div>
        <div>6</div>
      </td>
      <td>
        <div>{{S(0.50)}}</div>
        <div>{{S(0.60)}}</div>
        <div>{{S(0.70)}}</div>
        <div>{{S(0.75)}}</div>
      </td>
      <td>
        <div>4</div>
        <div>4</div>
        <div>3</div>
        <div>3</div>
      </td>
    </tr>
    <tr>
      <td>2</td>
      <td>Жим штанги лежа</td>
      <td>
        <div>1</div>
        <div>1</div>
        <div>2</div>
        <div>2</div>
        <div>2</div>
        <div>1</div>
        <div>1 [эн, мез]</div>
        <div>1</div>
        <div>1 [эн, мез]</div>
      </td>
      <td>{{P(0.50)}}<br>{{P(0.60)}}<br>{{P(0.70)}}<br>{{P(0.75)}}<br>{{P(0.80)}}<br>{{P(0.75)}}<br>{{P(0.70)}}<br>{{P(0.60)}}<br>{{P(0.50)}}</td>
      <td>6 <br>5<br>4<br>3<br>2<br>4 <br>5 <br>6 <br>7</td>
    </tr>
    <tr>
      <td>3</td>
      <td>Разведение рук с гантелями в наклоне</td>
      <td>3<br>2 [эн, мез]</td>
      <td></td>
      <td>10<br>10</td>
    </tr>
    <tr>
      <td>4</td>
      <td>Трицепсы на блоке</td>
      <td>3<br>2 [эн, мез]</td>
      <td></td>
      <td>10<br>10</td>
    </tr>
    <tr>
      <td>5</td>
      <td>Приседания</td>
      <td>1<br>1<br>4</td>
      <td>{{S(0.55)}}<br>{{S(0.65)}}<br>{{S(0.75)}}</td>
      <td>3<br>3<br>2</td>
    </tr>
    <tr>
      <th style="text-align: left;" colspan="5" >Тренировка 7</th>
    </tr>
    <tr>
      <td>1</td>
      <td>Приседания</td>
      <td>1<br>2<br>2<br>4<br>1 [эн, мез]</td>
      <td>{{S(0.50)}}<br>{{S(0.60)}}<br>{{S(0.70)}}<br>{{S(0.80)}}<br>{{S(0.80)}}</td>
      <td>5<br>4<br>3<br>3<br>3</td>
    </tr>
    <tr>
      <td>2</td>
      <td>Жим штанги лежа</td>
      <td>1<br>1<br>2<br>5</td>
      <td>{{P(0.50)}} <br>{{P(0.60)}} <br>{{P(0.70)}} <br>{{P(0.80)}}</td>
      <td>5<br>4<br>3<br>3</td>
    </tr>
    <tr>
      <td>3</td>
      <td>Отжимание от пола</td>
      <td>5</td>
      <td></td>
      <td>макс.</td>
    </tr>
    <tr>
      <td>4</td>
      <td>Приседания</td>
      <td>1<br>1<br>4<br>1 [эн, мез]</td>
      <td>{{S(0.50)}}<br>{{S(0.60)}} <br>{{S(0.70)}}<br>{{S(0.70)}}</td>
      <td>5<br>5<br>5<br>5</td>
    </tr>
    <tr>
      <th style="text-align: left;" colspan="5" >Тренировка 8</th>
    </tr>
    <tr>
      <td>1</td>
      <td>Тяга штанги до колен</td>
      <td>1<br>1<br>2<br>4</td>
      <td>{{S(0.50)}} <br>{{S(0.60)}} <br>{{S(0.70)}} <br>{{S(0.75)}}</td>
      <td>4<br>4<br>4<br>4</td>
    </tr>
    <tr>
      <td>2</td>
      <td>Жим штанги лежа</td>
      <td>1<br>1 <br>2<br>2<br>2<br>2 <br>1<br>1 [эн, мез]<br>1<br>1 [эн, мез]<br>1</td>
      <td>{{P(0.50)}}<br>{{P(0.60)}}<br>{{P(0.70)}}<br>{{P(0.75)}}<br>{{P(0.80)}}<br>{{P(0.75)}}<br>{{P(0.70)}}<br>{{P(0.65)}}<br>{{P(0.60)}}<br>{{P(0.55)}}<br>{{P(0.50)}}</td>
      <td>6<br>5<br>4<br>3<br>2 <br>3<br>4<br>5 <br>6<br>7<br>8</td>
    </tr>
    <tr>
      <td>3</td>
      <td>Жим гантелей лежа</td>
      <td>3<br>2 [эн, мез]</td>
      <td></td>
      <td>10<br>10</td>
    </tr>
    <tr>
      <td>4</td>
      <td>Тяга штанги с плинтов</td>
      <td>1<br>2<br>3<br>1 [эн, мез]</td>
      <td>{{S(0.60)}}<br>{{S(0.70)}}<br>{{S(0.80)}}<br>{{S(0.80)}}</td>
      <td>5<br>5<br>4<br>4</td>
    </tr>
    <tr>
      <td>5</td>
      <td>Скручивания на пресс в висе</td>
      <td>3</td>
      <td></td>
      <td>макс.</td>
    </tr>
    <tr>
      <th style="text-align: left;" colspan="5" >Тренировка 9</th>
    </tr>
    <tr>
      <td>1</td>
      <td>Жим штанги лежа</td>
      <td>1<br>1<br>2<br>4<br>1 [эн, мез]</td>
      <td>{{P(0.50)}} <br>{{P(0.60)}} <br>{{P(0.70)}}<br>{{P(0.80)}}<br>{{P(0.80)}}</td>
      <td>5<br>4<br>3<br>2<br>2</td>
    </tr>
    <tr>
      <td>2</td>
      <td>Приседания</td>
      <td>1<br>1<br>2<br>5</td>
      <td>{{S(0.50)}}<br>{{S(0.60)}}<br>{{S(0.70)}}<br>{{S(0.75)}}</td>
      <td>5<br>5<br>5<br>4</td>
    </tr>
    <tr>
      <td>3</td>
      <td>Жим штанги лежа</td>
      <td>1<br>2<br>4</td>
      <td>{{P(0.50)}}<br>{{P(0.60)}}<br>{{P(0.65)}}</td>
      <td>6<br>6<br>6</td>
    </tr>
    <tr>
      <th style="text-align: left;" colspan="5" >Тренировка 10</th>
    </tr>
    <tr>
      <td>1</td>
      <td>Приседания</td>
      <td>1<br>1<br>2<br>2<br>2<br>1 [эн, мез]</td>
      <td>{{S(0.50)}}<br>{{S(0.60)}}<br>{{S(0.70)}} <br>{{S(0.80)}} <br>{{S(0.85)}}<br>{{S(0.85)}}</td>
      <td>5<br>4<br>3<br>3<br>2<br>2</td>
    </tr>
    <tr>
      <td>2</td>
      <td>Жим штанги лежа <br><br></td>
      <td>1<br>1<br>2<br>4<br>1 [эн, мез]</td>
      <td>{{P(0.50)}}<br>{{P(0.60)}}<br>{{P(0.70)}}<br>{{P(0.80)}}<br>{{P(0.80)}}</td>
      <td>5<br>4<br>3<br>3<br>3</td>
    </tr>
    <tr>
      <td>4</td>
      <td>Отжимание на брусьях</td>
      <td>5</td>
      <td></td>
      <td>8</td>
    </tr>
    <tr>
      <td>5</td>
      <td>Приседания<br><br></td>
      <td>1<br>1<br>2<br>3<br>1 [эн, мез]</td>
      <td>{{S(0.50)}} <br>{{S(0.60)}}<br>{{S(0.70)}}<br>{{S(0.80)}}<br>{{S(0.80)}}</td>
      <td>5<br>4<br>3<br>2<br>2</td>
    </tr>
    <tr>
      <th style="text-align: left;" colspan="5" >Тренировка 11</th>
    </tr>
    <tr>
      <td>1</td>
      <td>Жим штанги лежа</td>
      <td>1<br>1<br>2<br>2<br>2<br>1 [эн, мез]</td>
      <td>{{P(0.50)}}<br>{{P(0.60)}}<br>{{P(0.70)}}<br>{{P(0.80)}}<br>{{P(0.85)}}<br>{{P(0.85)}}</td>
      <td>5<br>4<br>3<br>3<br>2<br>2</td>
    </tr>
    <tr>
      <td>2</td>
      <td>Становая тяга<br><br></td>
      <td>1<br>1<br>2<br>2<br>3</td>
      <td>{{S(0.50)}}<br>{{S(0.60)}}<br>{{S(0.70)}}<br>{{S(0.80)}}<br>{{S(0.85)}}</td>
      <td>4<br>4<br>3<br>3<br>2</td>
    </tr>
    <tr>
      <td>3</td>
      <td>Жим штанги лежа</td>
      <td>1<br>1<br>4</td>
      <td>{{P(0.55)}}<br>{{P(0.65)}}<br>{{P(0.75)}}</td>
      <td>5<br>5<br>4</td>
    </tr>
    <tr>
      <th style="text-align: left;" colspan="5" >Тренировка 12</th>
    </tr>
    <tr>
      <td>1</td>
      <td>Приседания<br><br></td>
      <td>1<br>1<br>2<br>6</td>
      <td>{{S(0.50)}}<br>{{S(0.60)}}<br>{{S(0.70)}}<br>{{S(0.80)}}</td>
      <td>5<br>4<br>3<br>3</td>
    </tr>
    <tr>
      <td>2</td>
      <td>Жим штанги лежа<br><br></td>
      <td>1<br>1<br>5</td>
      <td>{{P(0.50)}}<br>{{P(0.60)}}<br>{{P(0.70)}}</td>
      <td>5<br>5<br>5</td>
    </tr>
    <tr>
      <td>3</td>
      <td>Отжимание на брусьях</td>
      <td>4<br>1 [эн, мез]</td>
      <td></td>
      <td>8<br>8</td>
    </tr>
    <tr>
      <td>4</td>
      <td>Скручивания на пресс в висе</td>
      <td>3</td>
      <td></td>
      <td>макс.</td>
    </tr>
    </tbody>
  </table>
</div>
