<div>
  <h3 class="font-weight-bold">Тяга: 75кг</h3>
  <h3 class="font-weight-bold">Жим: 105кг</h3>
  <h3 class="font-weight-bold">Присяд: ...</h3>

  <div class="form-group">
    <label>Присяд: <input type="text" name="squats" [(ngModel)]="squats" class="form-control"></label>
    <label>Жим: <input type="text" name="press" [(ngModel)]="press" class="form-control"></label>
    <label>Станова тяга: <input type="text" name="deadlift" [(ngModel)]="deadlift" class="form-control"></label>
  </div>

  <table class="table table-bordered" border="0" cellspacing="0" cellpadding="0" width="100%">
    <thead>
      <tr class="font-weight-bold">
        <th>#</th>
        <th>Вправа</th>
        <th>Підходи</th>
        <th>Вага</th>
        <th>Повторення</th>
      </tr>
    </thead>

    <tbody>

    <tr>
      <th colspan="5" >Тренування 1</th>
    </tr>

    <tr>
      <td>1</td>
      <td>Жим лежачи</td>
      <td>
        <div>1</div>
        <div>2</div>
        <div>2</div>
        <div>4</div>
        <div>1 [ен, мез]</div>
      </td>
      <td>
        <div>{{P(0.5)}}</div>
        <div>{{P(0.6)}}</div>
        <div>{{P(0.7)}}</div>
        <div>{{P(0.75)}}</div>
        <div>{{P(0.75)}}</div>
      </td>
      <td>
        <div>5</div>
        <div>4</div>
        <div>3</div>
        <div>3</div>
        <div>3</div>
      </td>
    </tr>

    <tr>
      <td>2</td>
      <td>Присідання</td>
      <td>
        <div>1</div>
        <div>2</div>
        <div>5</div>
      </td>
      <td>
        <div>{{S(0.5)}}</div>
        <div>{{S(0.6)}}</div>
        <div>{{S(0.7)}}</div>
      </td>
      <td>
        <div>5</div>
        <div>5</div>
        <div>5</div>
      </td>
    </tr>
    <tr>
      <td>3</td>
      <td>Жим лежачи</td>
      <td>
        <div>1</div>
        <div>2</div>
        <div>4</div>
      </td>
      <td>
        <div>{{P(0.5)}}</div>
        <div>{{P(0.6)}}</div>
        <div>{{P(0.65)}}</div>
      </td>
      <td>
        <div>6</div>
        <div>6</div>
        <div>6</div>
      </td>
    </tr>
    <tr>
      <td>4</td>
      <td>Розведення рук з гантелями лежачи</td>
      <td>3 [ен, мез]</td>
      <td>макс.</td>
      <td>5</td>
    </tr>
    <tr>
      <th colspan="5">Тренування 2</th>
    </tr>
    <tr>
      <td>1</td>
      <td>Станова тяга</td>
      <td>
        <div>1</div>
        <div>2</div>
        <div>2</div>
        <div>4</div>
      </td>
      <td>
        <div>{{D(0.5)}}</div>
        <div>{{D(0.6)}}</div>
        <div>{{D(0.7)}}</div>
        <div>{{D(0.75)}}</div>
      </td>
      <td>
        <div>5</div>
        <div>5</div>
        <div>4</div>
        <div>3</div>
      </td>
    </tr>
    <tr>
      <td>2</td>
      <td>Жим лежачи під кутом</td>
      <td>4, 6 [ен, мез]</td>
      <td> </td>
      <td>4</td>
    </tr>
    <tr>
      <td>3</td>
      <td>Підтягування на брусах з вагою</td>
      <td>4, 5 [ен, мез]</td>
      <td></td>
      <td>5</td>
    </tr>
    <tr>
      <td>4</td>
      <td>Тяга з плінтів</td>
      <td>
        <div>1</div>
        <div>2</div>
        <div>2</div>
        <div>3</div>
        <div>1 [ен, мез]</div>
      </td>
      <td>
        <div>{{D(0.5)}}</div>
        <div>{{D(0.6)}}</div>
        <div>{{D(0.7)}}</div>
        <div>{{D(0.8)}}</div>
        <div>{{D(0.8)}}</div>
      </td>
      <td>
        <div>5</div>
        <div>5</div>
        <div>4</div>
        <div>3</div>
        <div>3</div>
      </td>
    </tr>
    <tr>
      <td>5</td>
      <td>Скручування на прес висячи</td>
      <td>3</td>
      <td></td>
      <td>макс.</td>
    </tr>
    <tr>
      <th colspan="5" >Тренування 3</th>
    </tr>
    <tr>
      <td>1</td>
      <td>Жим лежачи</td>
      <td>
        <div>1</div>
        <div>1</div>
        <div>1</div>
        <div>1</div>
        <div>2</div>
        <div>2</div>
        <div>2[ен, мез]</div>
        <div>1</div>
        <div>1</div>
        <div>1[ен, мез]</div>
        <div>1[ен, мез]</div>
      </td>
      <td>
        <div>{{P(0.5)}}</div>
        <div>{{P(0.55)}}</div>
        <div>{{P(0.6)}}</div>
        <div>{{P(0.65)}}</div>
        <div>{{P(0.7)}}</div>
        <div>{{P(0.75)}}</div>
        <div>{{P(0.7)}}</div>
        <div>{{P(0.65)}}</div>
        <div>{{P(0.6)}}</div>
        <div>{{P(0.55)}}</div>
        <div>{{P(0.5)}}</div>
      </td>
      <td>
        <div>7</div>
        <div>6</div>
        <div>5</div>
        <div>4</div>
        <div>3</div>
        <div>2</div>
        <div>3</div>
        <div>4</div>
        <div>6</div>
        <div>8</div>
        <div>10</div>
      </td>
    </tr>
    <tr>
      <td>2</td>
      <td>Розведення рук з гантелями лежачи</td>
      <td>3 [ен, мез]</td>
      <td> </td>
      <td>10</td>
    </tr>
    <tr>
      <td>3</td>
      <td>Присідання</td>
      <td>
        <div>1</div>
        <div>2</div>
        <div>2</div>
        <div>3</div>
        <div>2 [ен, мез]</div>
      </td>
      <td>
        <div>{{S(0.5)}}</div>
        <div>{{S(0.6)}}</div>
        <div>{{S(0.7)}}</div>
        <div>{{S(0.75)}}</div>
        <div>{{S(0.75)}}</div>
      </td>
      <td>
        <div>5</div>
        <div>4</div>
        <div>3</div>
        <div>3</div>
        <div>3</div>
      </td>
    </tr>
    <tr>
      <td>4</td>
      <td>Тріцепс на блоці</td>
      <td>
        <div>2</div>
        <div>2 [ен, мез]</div>
      </td>
      <td></td>
      <td>
        <div>10</div>
        <div>10</div>
      </td>
    </tr>
    <tr>
      <th colspan="5" >Тренування 4</th>
    </tr>
    <tr>
      <td>1</td>
      <td>Присідання</td>
      <td>
        <div>1</div>
        <div>2</div>
        <div>2</div>
        <div>4</div>
        <div>1 [ен, мез]</div>
      </td>
      <td>
        <div>{{S(0.5)}}</div>
        <div>{{S(0.6)}}</div>
        <div>{{S(0.7)}}</div>
        <div>{{S(0.8)}}</div>
        <div>{{S(0.8)}}</div>
      </td>
      <td>
        <div>5</div>
        <div>4</div>
        <div>3</div>
        <div>2</div>
        <div>2</div>
      </td>
    </tr>
    <tr>
      <td>2</td>
      <td>Жим лежачи</td>
      <td>
        <div>1</div>
        <div>1</div>
        <div>2</div>
        <div>5</div>
        <div>1 [ен, мез]</div>
      </td>
      <td>
        <div>{{P(0.5)}}</div>
        <div>{{P(0.6)}}</div>
        <div>{{P(0.7)}}</div>
        <div>{{P(0.8)}}</div>
        <div>{{P(0.8)}}</div>
      </td>
      <td>
        <div>5</div>
        <div>4</div>
        <div>3</div>
        <div>2</div>
        <div>2</div>
      </td>
    </tr>
    <tr>
      <td>3</td>
      <td>Відтискання від підлоги</td>
      <td>5</td>
      <td></td>
      <td>макс</td>
    </tr>
    <tr>
      <td>4</td>
      <td>Присідання</td>
      <td>
        <div>1</div>
        <div>1</div>
        <div>4</div>
      </td>
      <td>
        <div>{{S(0.55)}}</div>
        <div>{{S(0.65)}}</div>
        <div>{{S(0.75)}}</div>
      </td>
      <td>
        <div>3</div>
        <div>3</div>
        <div>3</div>
      </td>
    </tr>
    <tr>
      <th colspan="5" >Тренування 5</th>
    </tr>
    <tr>
      <td>1</td>
      <td>Тяга до колін</td>
      <td>
        <div>1</div>
        <div>2</div>
        <div>4</div>
      </td>
      <td>
        <div>{{S(0.50)}}</div>
        <div>{{S(0.6)}}</div>
        <div>{{S(0.70)}}</div>
      </td>
      <td>
        <div>4</div>
        <div>4</div>
        <div>4</div>
      </td>
    </tr>
    <tr>
      <td>2</td>
      <td>Жим лежачи</td>
      <td>
        <div>1</div>
        <div>2</div>
        <div>5</div>
      </td>
      <td>
        <div>{{P(0.50)}}</div>
        <div>{{P(0.60)}}</div>
        <div>{{P(0.70)}}</div>
      </td>
      <td>
        <div>5</div>
        <div>5</div>
        <div>4</div>
      </td>
    </tr>
    <tr>
      <td>3</td>
      <td>Тренажер бабочка</td>
      <td>3 [ен, мез]</td>
      <td> </td>
      <td>10</td>
    </tr>
    <tr>
      <td>4</td>
      <td>Станова тяга</td>
      <td>
        <div>1</div>
        <div>1</div>
        <div>2</div>
        <div>4</div>
        <div>1 [ен, мез]</div>
      </td>
      <td>
        <div>{{S(0.50)}}</div>
        <div>{{S(0.60)}}</div>
        <div>{{S(0.70)}}</div>
        <div>{{S(0.75)}}</div>
        <div>{{S(0.75)}}</div>
      </td>
      <td>
        <div>4</div>
        <div>4</div>
        <div>3</div>
        <div>3</div>
        <div>3</div>
      </td>
    </tr>
    <tr>
      <th colspan="5" >Тренування 6</th>
    </tr>
    <tr>
      <td>1</td>
      <td>Присідання</td>
      <td>
        <div>1</div>
        <div>1</div>
        <div>2</div>
        <div>6</div>
      </td>
      <td>
        <div>{{S(0.50)}}</div>
        <div>{{S(0.60)}}</div>
        <div>{{S(0.70)}}</div>
        <div>{{S(0.75)}}</div>
      </td>
      <td>
        <div>4</div>
        <div>4</div>
        <div>3</div>
        <div>3</div>
      </td>
    </tr>
    <tr>
      <td>2</td>
      <td>Жим лежачи</td>
      <td>
        <div>1</div>
        <div>1</div>
        <div>2</div>
        <div>2</div>
        <div>2</div>
        <div>1</div>
        <div>1 [ен, мез]</div>
        <div>1</div>
        <div>1 [ен, мез]</div>
      </td>
      <td>
        <div>{{P(0.50)}}</div>
        <div>{{P(0.60)}}</div>
        <div>{{P(0.70)}}</div>
        <div>{{P(0.75)}}</div>
        <div>{{P(0.80)}}</div>
        <div>{{P(0.75)}}</div>
        <div>{{P(0.70)}}</div>
        <div>{{P(0.60)}}</div>
        <div>{{P(0.50)}}</div>
      </td>
      <td>
        <div>6</div>
        <div>5</div>
        <div>4</div>
        <div>3</div>
        <div>2</div>
        <div>4</div>
        <div>5</div>
        <div>6</div>
        <div>7</div>
      </td>
    </tr>
    <tr>
      <td>3</td>
      <td>Разведення рук з гантелями під кутом</td>
      <td>
        <div>3</div>
        <div>2 [ен, мез]</div>
      </td>
      <td> </td>
      <td>
        <div>10</div>
        <div>10</div>
      </td>
    </tr>
    <tr>
      <td>4</td>
      <td>Тріцепс на блоці</td>
      <td>
        <div>3</div>
        <div>2 [ен, мез]</div>
      </td>
      <td></td>
      <td>
        <div>10</div>
        <div>10</div>
      </td>
    </tr>
    <tr>
      <td>5</td>
      <td>Присідання</td>
      <td>
        <div>1</div>
        <div>1</div>
        <div>4</div>
      </td>
      <td>
        <div>{{S(0.55)}}</div>
        <div>{{S(0.65)}}</div>
        <div>{{S(0.75)}}</div>
      </td>
      <td>
        <div>3</div>
        <div>3</div>
        <div>2</div>
      </td>
    </tr>
    <tr>
      <th colspan="5" >Тренування 7</th>
    </tr>
    <tr>
      <td>1</td>
      <td>Присідання</td>
      <td>
        <div>1</div>
        <div>2</div>
        <div>2</div>
        <div>4</div>
        <div>1 [ен, мез]</div>
      </td>
      <td>
        <div>{{S(0.50)}}</div>
        <div>{{S(0.60)}}</div>
        <div>{{S(0.70)}}</div>
        <div>{{S(0.80)}}</div>
        <div>{{S(0.80)}}</div>
      </td>
      <td>
        <div>5</div>
        <div>4</div>
        <div>3</div>
        <div>3</div>
        <div>3</div>
      </td>
    </tr>
    <tr>
      <td>2</td>
      <td>Жим лежачи</td>
      <td>
        <div>1</div>
        <div>1</div>
        <div>2</div>
        <div>5</div>
      </td>
      <td>
        <div>{{P(0.50)}}</div>
        <div>{{P(0.60)}}</div>
        <div>{{P(0.70)}}</div>
        <div>{{P(0.80)}}</div>
      </td>
      <td>
        <div>5</div>
        <div>4</div>
        <div>3</div>
        <div>3</div>
      </td>
    </tr>
    <tr>
      <td>3</td>
      <td>Відтискання від підлоги</td>
      <td>5</td>
      <td></td>
      <td>макс.</td>
    </tr>
    <tr>
      <td>4</td>
      <td>Присідання</td>
      <td>
        <div>1</div>
        <div>1</div>
        <div>4</div>
        <div>1 [ен, мез]</div>
      </td>
      <td>
        <div>{{S(0.50)}}</div>
        <div>{{S(0.60)}}</div>
        <div>{{S(0.70)}}</div>
        <div>{{S(0.70)}}</div>
      </td>
      <td>
        <div>5</div>
        <div>5</div>
        <div>5</div>
        <div>5</div>
      </td>
    </tr>
    <tr>
      <th colspan="5" >Тренування 8</th>
    </tr>
    <tr>
      <td>1</td>
      <td>Тяга штанги до колін</td>
      <td>
        <div>1</div>
        <div>1</div>
        <div>2</div>
        <div>4</div>
      </td>
      <td>
        <div>{{S(0.50)}}</div>
        <div>{{S(0.60)}}</div>
        <div>{{S(0.70)}}</div>
        <div>{{S(0.75)}}</div>
      </td>
      <td>
        <div>4</div>
        <div>4</div>
        <div>4</div>
        <div>4</div>
      </td>
    </tr>
    <tr>
      <td>2</td>
      <td>Жим лежачи</td>
      <td>
        <div>1</div>
        <div>1</div>
        <div>2</div>
        <div>2</div>
        <div>2</div>
        <div>2</div>
        <div>1</div>
        <div>1 [ен, мез]</div>
        <div>1</div>
        <div>1 [ен, мез]</div>
        <div>1</div>
      </td>
      <td>
        <div>{{P(0.50)}}</div>
        <div>{{P(0.60)}}</div>
        <div>{{P(0.70)}}</div>
        <div>{{P(0.75)}}</div>
        <div>{{P(0.80)}}</div>
        <div>{{P(0.75)}}</div>
        <div>{{P(0.70)}}</div>
        <div>{{P(0.65)}}</div>
        <div>{{P(0.60)}}</div>
        <div>{{P(0.55)}}</div>
        <div>{{P(0.50)}}</div>
      </td>
      <td>
        <div>6</div>
        <div>5</div>
        <div>4</div>
        <div>3</div>
        <div>2</div>
        <div>3</div>
        <div>4</div>
        <div>5</div>
        <div>6</div>
        <div>7</div>
        <div>8</div>
      </td>
    </tr>
    <tr>
      <td>3</td>
      <td>Жим гантелей лежачи</td>
      <td>
        <div>3</div>
        <div>2 [ен, мез]</div>
      </td>
      <td></td>
      <td>
        <div>10</div>
        <div>10</div>
      </td>
    </tr>
    <tr>
      <td>4</td>
      <td>Тяга штанги з плінтів</td>
      <td>
        <div>1</div>
        <div>2</div>
        <div>3</div>
        <div>1 [ен, мез]</div>
      </td>
      <td>
        <div>{{S(0.60)}}</div>
        <div>{{S(0.70)}}</div>
        <div>{{S(0.80)}}</div>
        <div>{{S(0.80)}}</div>
      </td>
      <td>
        <div>5</div>
        <div>5</div>
        <div>4</div>
        <div>4</div>
      </td>
    </tr>
    <tr>
      <td>5</td>
      <td>Скручування на прес висячи</td>
      <td>3</td>
      <td> </td>
      <td>макс.</td>
    </tr>
    <tr>
      <th colspan="5" >Тренування 9</th>
    </tr>
    <tr>
      <td>1</td>
      <td>Жим лежачи</td>
      <td>
        <div>1</div>
        <div>1</div>
        <div>2</div>
        <div>4</div>
        <div>1 [ен, мез]</div>
      </td>
      <td>
        <div>{{P(0.50)}}</div>
        <div>{{P(0.60)}}</div>
        <div>{{P(0.70)}}</div>
        <div>{{P(0.80)}}</div>
        <div>{{P(0.80)}}</div>
      </td>
      <td>
        <div>5</div>
        <div>4</div>
        <div>3</div>
        <div>2</div>
        <div>2</div>
      </td>
    </tr>
    <tr>
      <td>2</td>
      <td>Присідання</td>
      <td>
        <div>1</div>
        <div>1</div>
        <div>2</div>
        <div>5</div>
      </td>
      <td>
        <div>{{S(0.50)}}</div>
        <div>{{S(0.60)}}</div>
        <div>{{S(0.70)}}</div>
        <div>{{S(0.75)}}</div>
      </td>
      <td>
        <div>5</div>
        <div>5</div>
        <div>5</div>
        <div>4</div>
      </td>
    </tr>
    <tr>
      <td>3</td>
      <td>Жим лежачи</td>
      <td>
        <div>1</div>
        <div>2</div>
        <div>4</div>
      </td>
      <td>
        <div>{{P(0.50)}}</div>
        <div>{{P(0.60)}}</div>
        <div>{{P(0.65)}}</div>
      </td>
      <td>
        <div>6</div>
        <div>6</div>
        <div>6</div>
      </td>
    </tr>
    <tr>
      <th colspan="5" >Тренування 10</th>
    </tr>
    <tr>
      <td>1</td>
      <td>Присідання</td>
      <td>
        <div>1</div>
        <div>1</div>
        <div>2</div>
        <div>2</div>
        <div>2</div>
        <div>1 [ен, мез]</div>
      </td>
      <td>
        <div>{{S(0.50)}}</div>
        <div>{{S(0.60)}}</div>
        <div>{{S(0.70)}}</div>
        <div>{{S(0.80)}}</div>
        <div>{{S(0.85)}}</div>
        <div>{{S(0.85)}}</div>
      </td>
      <td>
        <div>5</div>
        <div>4</div>
        <div>3</div>
        <div>3</div>
        <div>2</div>
        <div>2</div>
      </td>
    </tr>
    <tr>
      <td>2</td>
      <td>Жим лежачи</td>
      <td>
        <div>1</div>
        <div>1</div>
        <div>2</div>
        <div>4</div>
        <div>1 [ен, мез]</div>
      </td>
      <td>
        <div>{{P(0.50)}}</div>
        <div>{{P(0.60)}}</div>
        <div>{{P(0.70)}}</div>
        <div>{{P(0.80)}}</div>
        <div>{{P(0.80)}}</div>
      </td>
      <td>
        <div>5</div>
        <div>4</div>
        <div>3</div>
        <div>3</div>
        <div>3</div>
      </td>
    </tr>
    <tr>
      <td>4</td>
      <td>Підтягування на брусах</td>
      <td>5</td>
      <td> </td>
      <td>8</td>
    </tr>
    <tr>
      <td>5</td>
      <td>Присідання</td>
      <td>
        <div>1</div>
        <div>1</div>
        <div>2</div>
        <div>3</div>
        <div>1 [ен, мез]</div>
      </td>
      <td>
        <div>{{S(0.50)}}</div>
        <div>{{S(0.60)}}</div>
        <div>{{S(0.70)}}</div>
        <div>{{S(0.80)}}</div>
        <div>{{S(0.80)}}</div>
      </td>
      <td>
        <div>5</div>
        <div>4</div>
        <div>3</div>
        <div>2</div>
        <div>2</div>
      </td>
    </tr>
    <tr>
      <th colspan="5" >Тренування 11</th>
    </tr>
    <tr>
      <td>1</td>
      <td>Жим лежачи</td>
      <td>
        <div>1</div>
        <div>1</div>
        <div>2</div>
        <div>2</div>
        <div>2</div>
        <div>1 [ен, мез]</div>
      </td>
      <td>
        <div>{{P(0.50)}}</div>
        <div>{{P(0.60)}}</div>
        <div>{{P(0.70)}}</div>
        <div>{{P(0.80)}}</div>
        <div>{{P(0.85)}}</div>
        <div>{{P(0.85)}}</div>
      </td>
      <td>
        <div>5</div>
        <div>4</div>
        <div>3</div>
        <div>3</div>
        <div>2</div>
        <div>2</div>
      </td>
    </tr>
    <tr>
      <td>2</td>
      <td>Станова тяга</td>
      <td>
        <div>1</div>
        <div>1</div>
        <div>2</div>
        <div>2</div>
        <div>3</div>
      </td>
      <td>
        <div>{{S(0.50)}}</div>
        <div>{{S(0.60)}}</div>
        <div>{{S(0.70)}}</div>
        <div>{{S(0.80)}}</div>
        <div>{{S(0.85)}}</div>
      </td>
      <td>
        <div>4</div>
        <div>4</div>
        <div>3</div>
        <div>3</div>
        <div>2</div>
      </td>
    </tr>
    <tr>
      <td>3</td>
      <td>Жим лежачи</td>
      <td>
        <div>1</div>
        <div>1</div>
        <div>4</div>
      </td>
      <td>
        <div>{{P(0.55)}}</div>
        <div>{{P(0.65)}}</div>
        <div>{{P(0.75)}}</div>
      </td>
      <td>
        <div>5</div>
        <div>5</div>
        <div>4</div>
      </td>
    </tr>
    <tr>
      <th colspan="5" >Тренування 12</th>
    </tr>
    <tr>
      <td>1</td>
      <td>Присідання</td>
      <td>
        <div>1</div>
        <div>1</div>
        <div>2</div>
        <div>6</div>
      </td>
      <td>
        <div>{{S(0.50)}}</div>
        <div>{{S(0.60)}}</div>
        <div>{{S(0.70)}}</div>
        <div>{{S(0.80)}}</div>
      </td>
      <td>
        <div>5</div>
        <div>4</div>
        <div>3</div>
        <div>3</div>
      </td>
    </tr>
    <tr>
      <td>2</td>
      <td>Жим лежачи</td>
      <td>
        <div>1</div>
        <div>1</div>
        <div>5</div>
      </td>
      <td>
        <div>{{P(0.50)}}</div>
        <div>{{P(0.60)}}</div>
        <div>{{P(0.70)}}</div>
      </td>
      <td>
        <div>5</div>
        <div>5</div>
        <div>5</div>
      </td>
    </tr>
    <tr>
      <td>3</td>
      <td>Підтягування на брусах</td>
      <td>
        <div>4</div>
        <div>1 [ен, мез]</div>
      </td>
      <td></td>
      <td>
        <div>8</div>
        <div>8</div>
      </td>
    </tr>
    <tr>
      <td>4</td>
      <td>Скручування на прес висячи</td>
      <td>3</td>
      <td></td>
      <td>макс.</td>
    </tr>
    </tbody>
  </table>
</div>
