<ng-container *ngIf="userLoaded">
  <div *ngIf="user; then logoutTemplate else loginTemplate">
  </div>
</ng-container>

<ng-template #logoutTemplate>
  <h4 class="cover-heading text-center">
    <span> Користувач: </span>
    <span>{{user.email}}</span>
  </h4>
  <div>
    <button (click)="logout()" class="btn btn-outline-danger btn-block">Вийти</button>
  </div>
</ng-template>

<ng-template #loginTemplate>
  <form #form="ngForm" class="form-signin">
    <h1 class="h3 mb-3 font-weight-normal">Будь-ласка зареєструйтесь</h1>
    <p>або увійдіть з вже існуючим іменем</p>
    <label for="email" class="sr-only">Email</label>
    <input ngModel #em="ngModel" name="email" id="email" class="form-control" type="email" placeholder="Email: " required autofocus>
    <label for="password" class="sr-only">Password</label>
    <input ngModel #pass="ngModel" name="password" id="password" class="form-control" type="password" placeholder="Password: " required>

    <div>
      <div *ngIf="em.touched && em.invalid" class="error-massages alert alert-danger" role="alert"> - Емейл є обов'язковим і має бути коректним </div>
      <div *ngIf="pass.touched && pass.invalid" class="error-massages alert alert-danger" role="alert"> - Пароль є обов'язковим і має включати більше 6 символів </div>
      <div *ngIf="serverErr" class="error-massages alert alert-danger" role="alert" [textContent]="serverErr"></div>
    </div>

    <div class="row buttons-row">
      <div class="col">
        <button type="button"
                (click)="login(form.value)"
                class="btn btn-lg btn-primary btn-block"
                [disabled]="em.invalid || pass.invalid">
          Увійти
        </button>
      </div>
      <div class="col">
        <button type="button"
                (click)="signup(form.value)"
                [disabled]="em.invalid || pass.invalid"
                class="btn btn-lg btn-primary btn-block">
          Зареєструватись
        </button>
      </div>
    </div>
  </form>
</ng-template>

