<a routerLink="/">Home</a>
<a routerLink="/plan">Plan</a>

<form #form="ngForm">
  <div class="form-group">
    <input ngModel name="email" type="email" placeholder="Email: " >
  </div>

  <div class="form-group">
    <input ngModel name="password" type="password" placeholder="Password: " >
  </div>

  <button type="button" (click)="login(form.value)" class="btn btn-primary">Log In</button>
  <button type="button" (click)="signup(form.value)" class="btn btn-primary">Sign up</button>
</form>

<p *ngIf="user">
  Username: <span>{{user.email}}</span>
</p>

<button (click)="logout()">Log out</button>
