<form #form="ngForm" (submit)="createPlan(form.value.planName)">
  <div class="form-group">
    <div *ngIf="error" class="alert alert-danger" role="alert">
      {{error}}
    </div>
    <input (keyup)="clearError()" type="text" name="planName" ngModel class="form-control" placeholder="Custom Plan Name">
  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-primary">Create Custom Plan</button>
  </div>
</form>

<div class="list-group">
  <a *ngFor="let plan of plans" class="list-group-item list-group-item-action" [routerLink]="['/custom-plan', plan.name]" [textContent]="plan.name"></a>
</div>

