.close-icon {
  fill: #fff;
  /deep/ svg {
    width: 10px;
    height: 10px;
  }
}
.list-group-item {
  line-height: 2;
}
loader-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-left: 10px;
}
h5 {
  margin-top: 40px;
}
