<li class="oep-exercise justify-content-between align-items-center">
    <div class="form-check-inline">
      <input class="form-check-input"
             type="checkbox"
             [id]="'inlineCheckbox' + exerciseIndex"
             (change)="setDoneClicked(exercise)"
             [(ngModel)]="exercise.isDone"
             value="option1">
      <label class="form-check-label"
             [for]="'inlineCheckbox' + exerciseIndex">
        {{exercise.name}}</label>
    </div>

    <span (click)="removeExerciseClicked(exercise.id)">
        <svg-icon name="close"></svg-icon>
    </span>
    <parsed-exercise [exercise]="exercise"></parsed-exercise>
</li>
