.oep-exercise {
  margin: 10px 0;
}
.form-check-inline {
  vertical-align: text-top;
}
svg-icon {
  line-height: 2.4;
  fill: #dc3545;
  float: right;
  ::ng-deep svg {
    width: 15px;
    height: 15px;
  }
}
