.additional-tags {
  .badge {
    margin-right: 5px;
  }
}
.btn-add-plan, .btn-share {
  margin-bottom: 10px;
  margin-right: 10px;
}
.separate-page-container {
  text-align: center;
  .exercises-list {
    display: inline-block;
    text-align: left;
    margin: auto;
  }
}
.link-copied-msg {
  font-size: 12px;
}
.not-registered {
  font-size: 12px;
  svg-icon {
    display: block;
    margin-bottom: 10px;
    /deep/ svg {
      fill: #fff;
    }
  }
}
.exercise-name {
  margin-right: 10px;
}
