<div *ngIf="plan" [ngClass]="isSeparatePage && 'separate-page-container'">
  <button
    *ngIf="currentUserName && plan.user.username !== currentUserName"
    (click)="addPlan(plan)"
    class="btn btn-outline-primary btn-add-plan">
    Додати
  </button>

  <div class="not-registered">
    <svg-icon width="36px" height="36px" name="info"></svg-icon>
    <p>
      Зареєструйтесь або увійдіть, щоб додати програму собі
    </p>
  </div>

  <button
    [copyClipboard]="getPlanLink(plan)"
    (copied)="shareLink($event)"
    class="btn btn-outline-primary btn-share">
    Поділитись
  </button>

  <span
    class="link-copied-msg"
    *ngIf="showSharingSuccess">
    Посилання скопійовано!
  </span>

  <p class="additional-tags">
              <span class="mr-2">Теги: </span>
              <span class="badge badge-light"
                    *ngFor="let tag of plan.tags.split(',')"
                    [textContent]="tag">

              </span>
  </p>

  <ng-container *ngIf="plan.type === ''; then defaultPlan; else oneExercisePlan">
  </ng-container>

  <ng-template #defaultPlan>
    <div *ngFor="let workout of plan.workouts">
      <p [textContent]="workout.name"></p>
      <ol class="exercises-list">
        <li *ngFor="let exercise of workout.exercises">
          <parsed-exercise [exercise]="exercise"></parsed-exercise>
        </li>
      </ol>
    </div>
  </ng-template>
  <ng-template #oneExercisePlan>
    <ol class="exercises-list">
      <li *ngFor="let exercise of plan.workouts[0].exercises">
        <parsed-exercise [exercise]="exercise"></parsed-exercise>
      </li>
    </ol>
  </ng-template>

</div>
