<div>
  <h4 class="text-center">Пошук програми</h4>
  <div class="input-group mb-3">
    <input type="text"
           #searchInput
           (keyup.enter)="search(searchInput.value)"
           class="form-control"
           placeholder="Назва програми"
           aria-label="Назва програми"
           aria-describedby="button-addon2">
    <div class="input-group-append">
      <button class="btn btn-outline-secondary" type="button" id="button-addon2" (click)="search(searchInput.value)">Пошук</button>
    </div>
  </div>
  <p class="text-center"> Пошукові теги </p>
  <div class="text-center search-tags mb-3">
    <span class="badge badge-primary" (click)="search({ tag: 'strength' })">Strength</span>
    <span class="badge badge-secondary" (click)="search({ tag: 'endurance' })">Endurance</span>
    <span class="badge badge-success" (click)="search({ tag: 'muscleDefinition' })">Muscle Definition</span>
  </div>

<!-- Plans array -->

  <div *ngIf="plans" class="search-results">
    <p class="text-center"> Результати пошуку </p>
    <p *ngIf="!plans.length" class="text-center">За вашим запитом нічого не знайдено = (</p>
    <div class="plan" *ngFor="let plan of plans">
      <p class="mb-2 mt-2">
        <button type="button"
                class="btn btn-outline-primary name-button"
                (click)="plan.opened = !plan.opened"
                [attr.aria-expanded]="!plan.opened"
                [textContent]="getPlanName(plan)"
                [attr.aria-controls]="plan.id">

        </button>
      </p>
      <div [attr.id]="plan.id" [ngbCollapse]="!plan.opened">
        <div class="card">
          <div class="card-body">

            <p class="additional-tags">
              <span class="badge badge-light"
                    *ngFor="let tag of plan.tags.split(',')"
                    [textContent]="tag">

              </span>
            </p>

            <ng-container *ngIf="plan.type === ''; then defaultPlan; else oneExercisePlan">
            </ng-container>

            <ng-template #defaultPlan>
              <div *ngFor="let workout of plan.workouts">
                <p [textContent]="workout.name"></p>
                <ol class="exercises-list">
                  <li *ngFor="let exercise of workout.exercises">
                    <parsed-exercise [exercise]="exercise"></parsed-exercise>
                  </li>
                </ol>
              </div>
            </ng-template>
            <ng-template #oneExercisePlan>
              <ol class="exercises-list">
                <li *ngFor="let exercise of plan.workouts[0].exercises">
                  <parsed-exercise [exercise]="exercise"></parsed-exercise>
                </li>
              </ol>
            </ng-template>

          </div>
        </div>
      </div>
    </div>
  </div>
  <loader-icon *ngIf="showLoader"></loader-icon>
</div>


